
@{
    ViewBag.Title = "Blog";
}

<section class="page-header page-header-xlg parallax parallax-3"
         style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>Blog</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="active">Blog</li>
        </ol>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <!--Blog 1-->
                <div class="card" id="blog1">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12 col-sm-3">
                                <img src="~/Content/assets/images/columbus-bill-of-rights-logo.png" class="img-fluid" />
                            </div>
                            <div class="col-12 col-sm-9">
                                <h3>The Dangers of Fracking Waste: Is There Any Safe Way to Dispose of It?</h3>
                                <h5>
                                    December 8, 2017 | By: Wendell G. Bradley
                                </h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Excerpt from 'Chemical & Engineering News' <br />
                                Landfills and land spreads apparently have been relying on the measurements of Operators, who, in turn, justify their releases per a COGCC 2014 study (4).  That study, however, used a discreditedmeasuring/testing protocol (5).  As a result, Operators are typically under measuring by at least factors of 100.
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="https://www.counterpunch.org/2017/12/08/the-dangers-of-fracking-waste-is-there-any-safe-way-to-dispose-of-it/" target="_blank" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>READ MORE</a>
                        </div>
                    </div>
                </div>
                <!--Blog 2-->
                <div class="card my-3" id="blog2">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12 col-sm-3">
                                <img src="~/Content/assets/images/blog-Bill-Lyons.jpg" class="img-fluid" />
                            </div>
                            <div class="col-12 col-sm-9">
                                <h3>Letter: Protect our water from fracking waste</h3>
                                <h5>
                                    October 31, 2017 | By: Bill Lyons
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Columbus needs to protect one of its most precious resources — its water — from fracking waste. There are 13 injection wells of frack waste in our Upper Scioto Watershed Area with permits for more on the way. Each one of these wells has millions of gallons of radioactive waste containing Radium 226 with a half-life of 1,600 years along with carcinogens, neurotoxins, and hormone disruptors.
                        </p>
                        <div id="blog2-text" class="collapse">
                            <p>
                                For short-term profit of the oil and gas industry, we are taking a long-term risk for which we weren’t given a choice. In addition, the radioactive frack waste drill cuttings, which are not regulated in Ohio, are currently being dumped into landfills.
                            </p>
                            <p>
                                Columbus Community Bill of Rights is currently collecting signatures for a November 2018 Columbus city ballot initiative to ban the dumping of this harmful frack waste in our city. Other communities in Ohio have passed similar community bills of rights, and it is time for Columbus to do the same.
                            </p>
                            <p>
                                Local citizens, under home rule, used to have the right to regulate oil and gas activities in their communities. After heavy industry lobbying in 2004, this was taken away by our legislature via House Bill 278 and granted to the Ohio Department of Natural Resources. Even though state law now pre-empts local communities from protecting themselves from the harms of the oil and gas industry, we feel that this is inherently unjust and must be resisted. After all, shouldn’t the people who will have to suffer the consequences of a potential industrial harm have the right to determine if they want to take that risk?
                            </p>
                            <p>
                                Key assertions in our initiative include are our inalienable rights to clean water, clean air, safe soil, and the self-governing right to “say no” to harmful frack waste in our community. I urge Columbus voters to please sign our petition to help us collect the nearly 9,000 signatures needed to get this on the November 2018 ballot.
                            </p>
                            <p>
                                Bill Lyons
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a data-toggle="collapse" data-target="#blog2-text" id="blog2-btn" class="btn btn-3d btn-lg btn-primary">READ MORE</a>
                    </div>
                </div>

                <!--Blog 3-->
                <div class="card" id="blog3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12 col-sm-3">
                                <img src="~/Content/assets/images/blog-ALEC.jpg" class="img-fluid" />
                            </div>
                            <div class="col-12 col-sm-9">
                                <h3>ALEC Slips Exxon Fracking Loopholes into New Ohio Law</h3>
                                <h5>
                                    August 12, 2017 | By: Connor Gibson
                                </h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                This article is from 2012, but explicitly spells out how <b>most of the Ohio state legislators who co-sponsored SB 315 were American Legislative Exchange Council (ALEC) members.</b>  Governor Kasich (who was involved with the beginnings of ALEC in the past) signed this bill into law after the late 2011 Youngstown 4.0 scale earthquake that culminated from a cluster resulting from repeated misuse of an injection well.  The bill was slated publicly as a fix for the injection well problems, but as much legislation does, it put other public-enemy provisions into the bill.  This included the medical gag order that makes health care people prosecutable if they reveal chemical ingredients they treated patients for, and the bill was modeled off of Texas legislation prompted by ExxonMobil through the American Legislative Exchange Council billionaire-boys'-club bill mill.
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="http://www.prwatch.org/news/2012/05/11556/alec-slips-exxon-fracking-loopholes-new-ohio-law" target="_blank" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>READ MORE</a>
                        </div>
                    </div>
                </div>

                <!--Blog 4-->
                <div class="card" id="blog4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12 col-sm-3">
                                <img src="~/Content/assets/images/blog-injection-well.jpg" class="img-fluid" />
                            </div>
                            <div class="col-12 col-sm-9">
                                <h3>Radium Watersheds A Risk</h3>
                                <h5>
                                    April 3, 2017 | By: Greg Pace & Julie Weatherington-Rice PhD
                                </h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Depending on whether you confer with a geologist who works with the oil and gas industry, or from an independent geologist, you will get a different opinion on the likelihood of such a pollution event occurring. Industry geologists mostly claim that deep injection leaves very low risk of water contamination because it will not migrate from the planned area of injection. On the other hand, independent geologists will tell you that it is not a matter of if the liquids will migrate, but how and when. The ability to confirm the geology of the underground area layer of injection “storage” is not exact, therefore accuracy in determining the probability for migration over time is poor.
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="https://www.fractracker.org/2017/04/radium-watersheds-a-risk/" target="_blank" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>READ MORE</a>
                        </div>
                    </div>
                </div>
                <!--Blog 5-->
                <div class="card" id="blog5">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12 col-sm-3">
                                <img src="~/Content/assets/images/blog-we-the-people.jpg" class="img-fluid" />
                            </div>
                            <div class="col-12 col-sm-9">
                                <h3>Smells like ALEC, tastes like ACCE</h3>
                                <h5>
                                    February 2, 2017 | By: Greg Pace - Columbus Community Bill of Rights
                                </h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                “We The People” in Ohio just had another nail pounded into the casket lid of our “presumed Democracy.” Our constitutional right to pass our own local laws in our communities is now all but disallowed. Over the past two years, we have witnessed that the judicial system has been turned against We The People as they politicize constitutionally-presumed precedents by flipping them in favor of moneyed interests. For two years in a row, the Supreme Court upheld the latest vaporization in the separation of powers by allowing our Secretary of State to cheat We The People. He does this by illegitimately instructing our boards of elections to nix our rights of initiative through refusing their path to the ballot.
                            </p>
                            <div id="blog5-text" class="collapse">
                                <p>
                                    Last month, Governor John Kasich signed HB 463 into law that legislatively, and maybe judicially, will seal our fate entirely from being able to insist upon protections in our own communities – from corporate harms, with local wage and work rule laws, and from whatever else captured statehouse shills add to their list. What was muddied in court decisions over the past two years, when defining the ability of residents to create our own county charters that incorporate protections from corporate harms, has now been succinctly defined – any systemic path that We The People in the state of Ohio read in the constitution that rightfully enabled us to change our government, has been vanquished through the new law.
                                </p>
                                <p>
                                    I quote the Ohio Constitution, Article 1: Bill of Rights, Section 2 (being read from a copy that has Ohio Secretary of State Jon Husted’s name on large, fancy document header)
                                </p>
                                <p>
                                    “All political power is inherent in the people. Government is instituted for their equal protection and benefit, and they have the right to alter, reform, or abolish the same, whenever they deem it necessary.”
                                </p>
                                <p>
                                    This constitutional language does not apply to those of us without enough moneyed influence to play their living Monopoly game, thanks to the corporate-state. It has the stench of dark, American Legislative Exchange Council-oriented, anti-real-people power. State governments are the nexus of corporate influence through their regulatory environments in $merica. This is where the Koch Brothers and the American Legislative Exchange Council (ALEC), their hand-fed, corporate-funded pet anaconda, spend their dough.
                                </p>
                                <p>
                                    Now comes the latest form of billionaire paths-to-profit-extortion through ALEC’s snakelet, the American City County Exchange (ACCE). If you thought billions of dollars could wield power in state government, wait until you see the ludicrous power that billions wield at local city and county government levels. We have had ALEC members in our Ohio statehouse, including ALEC board member Bill Seitz, who just endured his term-limit as senator by switching over to the house. Who do you think pulls Rep. Seitz’s climate-dense, adulterated-Stalin-referencing strings, to fight with vitriol in keeping electric utilities rife with the lethal Ohio fossil-fuels they crave?
                                </p>
                                <p>
                                    ALEC was the brainpower behind Texas legislation in 2015 that demolished the ability of “We The People of Texas” to create their own local control to ban oil/gas development, even though 58 percent of Texan “real people” were in favor of allowing it. The local-democracy-stifling bill was sponsored by Texas state rep. Phil King, who at the time was ALEC’s standing national chairman.
                                </p>
                                <p>
                                    In 2015, twelve counties in Kentucky came dangerously close to passing “right-to-work” ordinances, at the hands of attorney Brent Yessin, who was spearheading the ACCE/Heritage Foundation juggernaut to pass similar local ordinances around the country. Lucky for “We The People of Kentucky,” ten local and international unions sued one of the counties in federal court and kept this worker-rights poison in its box … for now.
                                </p>
                                <p>
                                    Yessin’s prior claim-to-fame was crushing nurses’ unions at hospitals. In her 2012 book, Raising Expectations (and Raising Hell), labor organizer Jane McAlevey chronicled an incident where Yessin added a sexual predator element to the harassment tactics he uses – he followed her into a Las Vegas hospital elevator, where he pinned her to the wall pressing his penis against her, until she screamed continuously.
                                </p>
                                <p>
                                    This is what’s coming to Ohio, and expect it to get Trump-ed up considerably. Democracy is working in the United States … just not for 99 percent of us. We have a “chandelier democracy,” and a more balanced form of “carpet democracy” must be formed – it is our responsibility.
                                </p>
                                <p>
                                    We The People have to demand that our own laws become enacted to correct dysfunctional ones. We must fight in the courts and protest on the streets. The grassroots “silo” effect of focusing on separate missions has to soften, or we will not create the critical mass that is not just needed, but is now required. It is a numbers game – millions of people vs. billions of dollars will be the only equation to put We The People’s power back where it belongs: in charge of our democracy. Without having each others’ backs, we will never create our self-governing nation that presumptuous school curriculums allude that we have. As “real people,” we cannot afford to cling to our myopic comfort zones any longer. We live in a Participatory Representative Democracy. If we don’t use it, we lose it.
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a data-toggle="collapse" data-target="#blog5-text" id="blog5-btn" class="btn btn-3d btn-lg btn-primary">READ MORE</a>
                        </div>
                    </div>
                </div>
                <!--Blog 6-->
                <!--Blog 7-->
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header text-center">
                        <img src="~/Content/assets/images/columbus-bill-of-rights-logo.png" class="img-fluid" />
                        <h3>About CCBOR</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            The Columbus Community Bill of Rights City Ordinance, will give Columbus voters the right to protect our Water, Air, Soil and to regain local control from the Oil & Gas Industry’s massive Frack Waste stream- Injection Wells, solid Frack Waste dumping in our city landfills, pipelines and Frack infrastructure within our City. It will provide legal teeth to enforce our inalienable rights for Clean & Safe Water, Air and Soil with those that bring Harm into our Community.
                        </p>
                        <p>
                            We are currently gathering Columbus voter signatures so The Columbus Community Bill of Rights will be on the November, 2018 ballot. This is a grass roots campaign. All hands on Deck. Join Us.
                        </p>
                    </div>
                    <div class="card-footer text-center"></div>
                </div>
                @*<div class="card">
                    <div class="card-header text-center">
                        <h3>Popular posts</h3>
                    </div>
                    <div class="card-body">
                        <ul>
                            
                        </ul>
                    </div>
                    <div class="card-footer text-center"></div>
                </div>*@
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Recent posts</h3>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li><a href="#blog1">The Dangers of Fracking Waste</a></li>
                            <li><a href="#blog2">Letter: Protect our water from fracking waste</a></li>
                            <li><a href="#blog3">ALEC Slips Exxon Fracking Loopholes into New Ohio Law</a></li>
                        </ul>
                    </div>
                    <div class="card-footer text-center"></div>
                </div>
            </div>
        </div>
    </div>
</section>
        
@section scripts  {
    <script src="~/Scripts/Custom/Blog.js"></script>
    }        
                   
                
                

        
