<div class="img-fluid" style="width:500px; float:right; margin: 5px; overflow:hidden;">
    <img id="staticMap">
    <small>Ohio Soil Recycling LLC, on the banks of Alum Creek in Columbus City Limits</small>
</div>
