<div class="row">
    <div class="col-md-12 col-sm-12 mb-30">
		<div class="mt-20">
			<p>
				Columbus Residents are working to ensure safe drinking water, clean air, and safe soil in the City of Columbus.
			</p>
			<p>
				There are 13 injection wells in the Columbus Area water supply, where radioactive and toxic liquid waste from unconventional natural gas extraction (shale gas, hydrofracking), is being injected into the earth, with great potential for migration into our water supply.
			</p>
			<p>
				Within the City of Columbus, on the banks of the Alum Creek, the Ohio EPA has permitted potentially highly radioactive shale gas solid waste to be processed, and "beneficially" used, without any required radioactive testing.
			</p>
			<p>
				In Ohio, State agencies have complete jurisdiction over Oil and Gas permits to Drill and Dispose the liquid and solid hazardous Waste.  At the same time, Columbus residents have No say in what the State permits in their own backyard.
			</p>
			<p>
				The Columbus Community Bill of Rights is a change to the legislative language of the City of Columbus.  This rights-based language will give Columbus residents Local Control over the extraction of hydrocarbons; and protect the unalienable rights for Pure Water, Clean Air, and Safe Soil, free from "toxins, carcinogens, radioactive substances, and other substances known to cause harm to health", in the City of Columbus.
			</p>
		</div>
    </div>
</div>