
<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/1Y7DV0cnqwU?VQ=HD1080" frameborder="0" encrypted-media" allowfullscreen></iframe>
</div>

@*<source src="~/Content/assets/videos/wereAllDownstream_v9.mp4" type="video/mp4">*@



