@{
    ViewBag.Title = "About The Columbus Community Bill of Rights";
}
<section class="page-header page-header-xlg parallax parallax-3" 
         style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>ABOUT COLUMBUS COMMUNITY BILL OF RIGHTS</h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Our Work</a></li>
            <li class="active">About</li>
        </ol>
    </div>
</section>
<section>
    <div class="container">

    </div>
</section>