@{
    ViewBag.Title = "About The Columbus Community Bill of Rights";
}
<section class="page-header page-header-xlg parallax parallax-3"
         style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>ABOUT COLUMBUS COMMUNITY BILL OF RIGHTS</h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Our Work</a></li>
            <li class="active">About</li>
        </ol>
    </div>
</section>
<section>
    <div class="container">
        <h2>The Campaign For The Columbus Community Bill Of Rights</h2>
        <p>
            Columbus Residents are working to ensure safe drinking water, clean air, and safe soil in the City of Columbus.
        </p>
        <p>
            There are 13 injection wells in the Columbus Area water supply, where radioactive and toxic liquid waste from unconventional natural gas extraction (shale gas, hydrofracking), is being injected into the earth, with great potential for migration into our water supply.
        </p>
        <p>
            Within the City of Columbus, on the banks of the Alum Creek, the Ohio EPA has permitted potentially highly radioactive shale gas solid waste to be processed, and "beneficially" used, without any required radioactive testing.
        </p>
        <p>
            In Ohio, State agencies have complete jurisdiction over Oil and Gas permits to Drill and Dispose the liquid and solid hazardous Waste.  At the same time, Columbus residents have No say in what the State permits in their own backyard.
        </p>
        <p>
            The Columbus Community Bill of Rights is  change to the legislative language of the City of Columbus.  This rights-based language will give Columbus residents Local Control over the extraction of hydrocarbons; and protect the unalienable rights for Pure Water, Clean Air, and Safe Soil, free from "toxins, carcinogens, radioactive substances, and other substances known to cause harm to health", in the City of Columbus.
        </p>
        <p>
            When enough valid Columbus Voter signatures are obtained, the Columbus Community Bill of Rights will be placed on the next Columbus Municipal Election Ballot.
        </p>
    </div>
</section>
<section class="alternate">
    <div class="container">
        <h2>
            We The People 2.0
        </h2>
        <div class="row">
            <div class="col-md-12 col-sm-12 mb-30">
                <div>
                    <p>
                        <a href="@Url.Action("WeThePeople","OurWork")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="theme-color">
    <div class="container">
        <h2>
            Ohio Democracy School
        </h2>
        <div class="row">
            <div class="col-md-12 col-sm-12 mb-30">
                <div>
                    <p>
                        <a href="@Url.Action("OhioDemocracySchool","OurWork")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>LEARN MORE</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>