
@{
	ViewBag.Title = "CELDF";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header page-header-xlg parallax parallax-3"
		 style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
	<div class="overlay dark-4"></div>
	<div class="container">
		<h1>Community Environmental Legal Defense Fund</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index","Home")">Home</a></li>
			<li><a href="@Url.Action("Index","OurWork")">Our Work</a></li>
			<li class="active">CELDF</li>
		</ol>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-3">
				<a href="https://celdf.org/" target="_blank">
					<img class="img-fluid" src="~/Content/assets/images/celdf.png" />
				</a>
			</div>
			<div class="col-12 col-md-9 mb-30">
				<h2>
					CELDF - Community Environmental Legal Defense Fund
				</h2>
			</div>
		</div>
		<div class="row">
			<p>
				CELDF works to establish and protect rights - including worker and environmental rights, and rights of nature.
			</p>
			<p>
				Nearly 200 communities have adopted CELDF-drafted Community Bills of Rights laws that transition them from merely regulating corporate harms to stopping those harms by asserting local, democratic control directly over corporations. These are first-in-the-nation, groundbreaking laws that are strengthening true democracy.
			</p>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 mb-30">
				<div>
					<h4>
						When a community faces unconventional natural gas (shale gas, hydrofracking) development and waste, they have three choices before them...
					</h4>

					<p>
						1.  Do nothing.  This assures unconventional natural gas development and waste can come into their community.

					</p>
					<p>
						2.  Use existing laws, such as zoning, to try to stop unconventional natural gas development and waste.  However, this only allows communities to determine where this development and waste can be located in the community - not stop it.  And as communities across the country facing shale gas development and waste have found, state law regulating the practice does not grant communities the legal authority to say "no" to it.
					</p>
					<p>
						3.  Change existing law.  Use their own municipality to protect their community and assert their rights by making local laws that recognize their right to say "no" to unconventional natural gas development and waste.
					</p>
					<p>
						-Adapted from Community Environmental Legal Defense Fund (CELDF)
					</p>
					<p>
						Organizers are working with the non-profit organization, Community Environmental Legal Defense Fund (CELDF).  CELDF has partnered with communities in Pennsylvania, Ohio, Maryland, New York, New Mexico and Colorado to develop first-in-the-nation laws banning corporations from Unconventional Natural Gas Extraction (Fracking) and securing the rights of community self governance.
					</p>
					<p>
						For more information see: <a href="https://celdf.org/" target="_blank">celdf.org</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
