@{
    ViewBag.Title = "Ohio Democracy School";
}
<section class="page-header page-header-xlg parallax parallax-3"
         style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>OHIO DEMOCRACY SCHOOL</h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Our Work</a></li>
            <li class="active">Ohio Democracy School</li>
        </ol>
    </div>
</section>
<section>
    <div class="container">
        <h2>Ohio Democracy School</h2>
    </div>
</section>
<section class="alternate">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    The Workshop makes clear what roadblocks we face when we try to create the communities we envision. We will explore what prevents us from stopping projects that threaten our community, and why We the People are not the ones making decisions about those things directly impacting us, such as energy production, safeguarding the environment, protecting workers rights, free and fair elections, education, and myriad other decisions that shape and reflect the values of the communities in which we live.
                </p>
                <p>
                    We will explore our own history in Ohio – how the structure of law and government under which we live developed in our state, and the ways it mirrors the broader legal structure we live under at the federal level. We’ll examine how both are leveraged against us by our own government and corporations, such that We the People are blocked from governing and protecting our own communities.
                </p>
                <p>
                    As well, following the Workshop, participants will learn about how the community rights strategy is building a movement to drive these rights into law, such that our children and grandchildren – rather than inheriting rapidly deteriorating ecosystems and struggling to survive with polluted air and contaminated water – will be thriving in a vibrant and healthy environment. Clean air, pure water, and healthy soil are not only possible, but critical for our future.
                </p>
                <div class="text-center">
                    <p>
                        Workshop runs from 9:00 am – 5:00 pm, followed by an hour discussion on community rights.
                    </p>
                    <p>
                        Location and Price information when you contact us at:<br />
                        <a href="http://ohcommunityrights.org/" target="_blank">ohcommunityrights.org</a> <br />
                        <a href="mailto:​info@ohcommunityrights.org" target="_blank">info@ohcommunityrights.org</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>