
@{
	ViewBag.Title = "OhioCommunityRights";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header page-header-xlg parallax parallax-3"
		 style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
	<div class="overlay dark-4"></div>
	<div class="container">
		<h1>Ohio Community Rights Network</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index","Home")">Home</a></li>
			<li><a href="@Url.Action("Index","OurWork")">Our Work</a></li>
			<li class="active">Ohio Community Rights</li>
		</ol>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<a href="http://ohcommunityrights.org/" target="_blank">
					<img class="img-fluid" src="~/Content/assets/images/Ohio_Community_Rights_400x576.png" />
				</a>
			</div>
			<div class="col-12 col-md-6">
				<h2>
					Ohio Community Rights Network
				</h2>
				<h4>
					Mission: To establish a network of just communities working to advance, secure and protect both the inalienable rights of all Ohioans to democratic local self-governance, to sustainable food, energy and economic systems, and the rights of nature to exist and flourish throughout Ohio.
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 mb-30">
				<p>
					The current structure of law in Ohio systematically strips communities of their power to adopt laws to safeguard their own health and safety. When communities recognize the inherent danger in some commercial and industrial activities, they find that these activities are protected by state law, while their authority to protect themselves has been stripped by the state legislature.
				</p>
				<p>
					This system thus prohibits communities from banning projects and activities they consider dangerous and harmful, including “hydro-fracking” for natural gas, the depositing of waste from drilling into injection wells, building infrastructure for transporting fossil fuels such as pipelines, water withdrawals for the “fracking” process, corporate factory farms, the land dumping of sewage sludge, and others.
				</p>
				<p>
					Ohio communities have learned that not only is there no remedy under our current structure of law, but that a corporate minority, in partnership with the state, has control over our communities on almost any issue that really matters to us.
				</p>
				<p>
					The communities comprising the Ohio Community Rights Network (OHCRN) recognize this system for what it is: illegitimate. We recognize that no state legislature or court is going to provide a remedy for the harms we face. In November 2013, we gathered together to form a people’s statewide network – a democratic, statewide organization focused on educating Ohio communities about their fundamental and inalienable rights to local, democratic, community self-government.
				</p>
				<p>
					OHCRN formed as a response to the needs of Ohio communities engaged in the rights-based, grassroots organizing work of the Community Environmental Legal Defense Fund (CELDF). CELDF’s work began in 1995 in rural Pennsylvania. Today they are working in communities across the country to assert their civil and political rights to local self-governance and the Rights of Nature. OHCRN, CELDF, and seven other statewide Networks are partnering to advance these rights for all people and communities.
				</p>
				<p>Learn more at <a href="http://ohcommunityrights.org/" target="_blank">Ohio Community Rights Network</a></p>
			</div>
		</div>
	</div>
</section>

