@{
    ViewBag.Title = "We The People 2.0";
}
<section class="page-header page-header-xlg parallax parallax-3"
         style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>WE THE PEOPLE</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Index","OurWork")">Our Work</a></li>
            <li class="active">We The People</li>
        </ol>
    </div>
</section>
<section class="mb-0">
    <div class="container">
        <h2>We The People 2.0</h2>
        <div class="text-center">
            <p class="uppercase"><strong>film release: october 2016</strong></p>
            <p>
                "If you live in a corporate state, the only thing left to do is to dismantle it and build something new."
            </p>
            <p>
                <a href="http://www.wethepeople2.film/" target="_blank">We the People</a> is a visual essay about the loss of democracy in the United States.  The film utilizes both original footage as well as found footage to describe a profound change in thinking at the grassroots level. The story unfolds through the eyes of rural people who have faced decades of toxic dumping, drilling and mining in their communities.  We learn with them that the reason why, in spite of all their efforts, they “get what they don’t want, again and again,” is because they are, by law, truly powerless in spite of propaganda that says they live in the “best democracy in the world.”   These people come to understand that the reason they can’t stop the destruction is that the US has become an oligarchy, run by the corporate few who ignore the rights and will of the people.  These people are frontally challenging our corporate state; thereby saving nature and themselves. Thomas Linzey, a nonprofit attorney’s inspiring words shows how, we, the people, can turn this around and lay claim to our democracy. This movement is building as you read this, not just in this country but around the world; our film shows how and where it all began.
            </p>
        </div>
    </div>
</section>
<div class="callout alert alert-info b-0 rad-0 m-0 mt-0">
    <div class="text-center">
        <p>
            <strong>
                Schedule a documentary showing of
                We The People 2.0 - The Second American Revolution
            </strong>
        </p>  
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h5>Trailer: We The People 2.0</h5>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/gGyLRhsGYjU"></iframe>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h5>Clip: We The People 2.0</h5>
                @Html.Partial("~/Views/OurWork/Shared/_WeThePeopleClip.cshtml")
            </div>
        </div>
    </div>
</section>
<div class="callout alert alert-info b-0 rad-0 m-0">
    <div class="text-center">
        <p>
            <strong>
                Contact us at <a href="mailto:info@columbusbillofrights.org">info@columbusbillofrights.org</a>
                to schedule your showing of this important documentary
                in Central Ohio.
            </strong>
        </p>
    </div>
</div>