@{
	ViewBag.Title = "Latest News";
}
<section class="page-header page-header-xlg parallax parallax-3"
		 style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
	<div class="overlay dark-4"></div>
	<div class="container">
		<h1>Latest News</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")">Home</a></li>
			<li class="active">News</li>
		</ol>
	</div>
</section>
<section class="alert-info">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>News Coverage Following CCBOR's successful campaign to collect more than 9,000 signatures to get proposed ordinance on November 2018 ballot</h3>
				<ul>
					<li>
						<a href="http://www.dispatch.com/opinion/20180721/letter-issue-would-protect-future-generations" target="_blank">Letter to Editor: Community bill of rights would protect future generations</a>
						<br />
						Columbus Dispatch, July 21, 2018
					</li>
					<li>
						<a href="
http://www.dispatch.com/opinion/20180714/letter-protect-columbus-with-community-bill-of-rights?rssfeed=true" target="_blank">Letter to Editor: Protect Columbus with community bill of rights</a><br />
						Columbus Dispatch, July 14, 2018
					</li>
					<li><a href="http://www.dispatch.com/news/20180710/columbus-anti-fracking-initiative-makes-fall-ballot-might-not-hold-up-legally" target="_blank">Columbus Anti-Fracking Inititive Makes Ballot</a> <br />
					Columbus Dispatch, July 10, 2018</li>
					<li><a href="https://www.columbusunderground.com/grassroots-columbus-could-soon-reclaim-jurisdiction-over-local-oil-gas-activities-ls1" target="_blank">Columbus Could Soon Reclaim Jurisdiction Over Local Oil & Gas Activities</a><br />
					Columbus Underground, July 9, 2018</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-8 col-md-9">
				<h2>
					CCBOR Media Release
				</h2>
				<h4>FOR IMMEDIATE RELEASE: Monday, June 25, 2018</h4>
				<p>
					Contact:  <br />
					Carolyn Harding - <a href="tel:1-614-893-6314">(614) 893-6314</a> <br />
					Bill Lyons - <a href="tel:1-614-551-6194">(614) 551-6194</a>
				</p>
				<h4>
					THE COLUMBUS COMMUNITY BILL OF RIGHTS CAMPAIGN <br />
					TURNS IN MORE THAN DOUBLE THE NUMBER OF SIGNATURES REQUIRED <br />
					TO SECURE PROPOSED ORDINANCE ON NOVEMBER’S BALLOT

				</h4>
			</div>
			<div class="col-12 col-sm-4 col-md-3">
				<img class="float-right img-fluid" src="~/Content/assets/images/columbus-bill-of-rights-logo.png" />
			</div>
			<div class="col-12">
				<p>
					COLUMBUS – The citizen-led Columbus Community Bill of Rights, a city ordinance, restores Columbus citizens’ Rights to protect their water, air and soil from oil & gas drilling, toxic and radioactive waste and infrastructure within the city of Columbus.  This city ordinance disallows road spreading of oil & gas produced brines within city limits.  Recent reports show these products to contain radium-226 amounts in excess of 500 times the EPA’s drinking water limit.  The proposed ordinance also ensures Columbus citizens legal teeth to hold corporations liable for hazardous oil and gas activities from neighboring municipalities should these activities harm the water, air or soil of Columbus.
				</p>
				<p>
					With 13 active frack waste injection wells, and four more permitted in the Upper Scioto Watershed (Columbus’ water source), Central Ohioans recognize that they must take action to protect the health and safety of their environment.  The majority of the Upper Scioto Watershed injection wells are abandoned vertical oil wells with no holding tank to contain the waste.  In addition, the State of Ohio has recently permitted the oil & gas industry to dump potentially highly-radioactive frack drill cuttings in a landfill located within the city of Columbus - without testing for radioactivity.

				</p>
				<p>
					Historically, Ohioans have had local control over decisions regarding oil and gas activities.  That changed in 2004, when state lawmakers gave complete jurisdiction to ODNR (the Ohio Department of Natural Resources), a department that also takes funds for frack drilling and dumping of frack waste.  This toxic radioactive frack waste (liquid & solid) comes from Ohio oil & gas activities, and from neighboring states, i.e. Pennsylvania and West Virginia.  Recent State plans for an $83 billion petrochemical complex on the Ohio River will dramatically increase frack waste disposal in our State.  We must ensure now that we protect our local water, air and soil.
				</p>
				<p>
					The Columbus Community Bill of Rights, when adopted by Columbus voters in November, 2018, will restore Columbus citizens’ inalienable rights for local self-governance, regarding oil and gas activities, to ensure the safety of their water, air, soil, and their rights for a sustainable energy future.
				</p>
				<p>
					<a href="@Url.Action("BillOfRights","Resources")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>READ BILL OF RIGHTS</a>
				</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-8 col-md-9">
				<h2>
					CCBOR Media Release
				</h2>
				<h4>FOR IMMEDIATE RELEASE: June 26, 2017</h4>
				<p>
					Contact: <br />
					Sandy Bolzenius, <br />
					<a href="mailto:bolzenius.2@osu.edu">bolzenius.2@osu.edu</a><br />
					<a href="tel:1-614-843-6170">614-843-6170</a>
				</p>
				<h4>
					Local Group Launches Local Campaign for <br />
					Local Control to Protect City’s Water
				</h4>
			</div>
			<div class="col-12 col-sm-4 col-md-3">
				<img class="float-right img-fluid" src="~/Content/assets/images/columbus-bill-of-rights-logo.png" />
			</div>
			<div class="col-12">
				<p>
					COLUMBUS – On June 26, the Columbus Community Bill of Rights (CCBOR) group launches its third campaign to put the CCBOR ordinance on the ballot. Grounded in both the United States and the Ohio Constitutions’ declarations that all humans have inalienable rights to life, liberty, and the pursuit of happiness, the proposed ordinance asserts citizens’ rights to safeguard their water, air, and soil. Once passed, the measure will provide the City of Columbus and its officials the authority to protect local residents and their natural environment from fracking and its harmful waste products.
				</p>
				<p>
					Two previous campaigns that collectively garnered nearly 25,000 signatures have raised local awareness of the shale gas industry. Columbus residents are appalled to learn that in the Columbus watershed just a half-hour's drive from Columbus, the fracking industry is using 13 injection wells, all with old pipes, as sites for forcing, under pressure, radioactive and toxic brine into the ground. To complacent residents of Columbus who see neither drills nor injection wells within their city limits, CCBOR co-founder Carolyn Harding sends a stark reminder: “We are all downstream.”
				</p>
				<p>
					Considering the risks associated with fracking, CCBOR member and college Chemistry instructor Charlotte Owens warns, “After contamination, even if clean-up is possible, it is so much more expensive than prevention,” adding that “prevention is the best approach for so many reasons.” Sandy Bolzenius concurs: “Once the water and our children are poisoned, the catastrophic mess left behind cannot always be remedied by lawsuits and settlements.” Columbus resident Kathy McGlone knows first-hand that “fracking is a nightmare.” The retired high school science teacher worries about her former students living in the highly fracked region of Monroe County, lamenting that “people have no idea what they’ve gotten themselves into.” Closer to home, CCBOR members find that Columbus citizens and some local officials and candidates for office are increasingly wary of fracking and the risk it poses to the Columbus area water supply.

				</p>
				<p>
					CCBOR has a year to collect over 20,000 signatures and is actively seeking volunteers to help meet this goal.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="alert-info">
	<div class="container">
		<h2>Other News Links</h2>
		<p>
			<a href="http://columbusfreepress.com/article/action-alert-protect-our-water-soil-and-air" target="_blank">Action Alert to Protect our Water, Soil and Air</a>--Columbus Free Press, 2018
		</p>
		<p>
			<a href="http://columbusfreepress.com/article/demanding-our-right-clean-air-water-and-soil-our-community" target="_blank">Demanding Our Right to Clean Air, Water and Soil</a>--Columbus Free Press, 2016
		</p>
		
		
	</div>
</section>


