@{
	ViewBag.Title = "Latest News";
}
<section class="page-header page-header-xlg parallax parallax-3"
		 style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
	<div class="overlay dark-4"></div>
	<div class="container">
		<h1>Latest News</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")">Home</a></li>
			<li class="active">News</li>
		</ol>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-8 col-md-9">
				<h2>
					CCBOR Media Release
				</h2>
				<h4>FOR IMMEDIATE RELEASE: June 26, 2017</h4>
				<p>
					Contact: <br />
					Sandy Bolzenius, <br />
					bolzenius.2@osu.edu<br />
					614-843-6170
				</p>
				<h4>
					Local Group Launches Local Campaign for <br />
					Local Control to Protect City’s Water
				</h4>
			</div>
			<div class="col-12 col-sm-4 col-md-3">
				<img class="float-right img-fluid" src="~/Content/assets/images/columbus-bill-of-rights-logo.png" />
			</div>
			<div class="col-12">
				<p>
					COLUMBUS – On June 26, the Columbus Community Bill of Rights (CCBOR) group launches its third campaign to put the CCBOR ordinance on the ballot. Grounded in both the United States and the Ohio Constitutions’ declarations that all humans have inalienable rights to life, liberty, and the pursuit of happiness, the proposed ordinance asserts citizens’ rights to safeguard their water, air, and soil. Once passed, the measure will provide the City of Columbus and its officials the authority to protect local residents and their natural environment from fracking and its harmful waste products.
				</p>
				<p>
					Two previous campaigns that collectively garnered nearly 25,000 signatures have raised local awareness of the shale gas industry. Columbus residents are appalled to learn that in the Columbus watershed just a half-hour's drive from Columbus, the fracking industry is using 13 injection wells, all with old pipes, as sites for forcing, under pressure, radioactive and toxic brine into the ground. To complacent residents of Columbus who see neither drills nor injection wells within their city limits, CCBOR co-founder Carolyn Harding sends a stark reminder: “We are all downstream.”
				</p>
				<p>
					Considering the risks associated with fracking, CCBOR member and college Chemistry instructor Charlotte Owens warns, “After contamination, even if clean-up is possible, it is so much more expensive than prevention,” adding that “prevention is the best approach for so many reasons.” Sandy Bolzenius concurs: “Once the water and our children are poisoned, the catastrophic mess left behind cannot always be remedied by lawsuits and settlements.” Columbus resident Kathy McGlone knows first-hand that “fracking is a nightmare.” The retired high school science teacher worries about her former students living in the highly fracked region of Monroe County, lamenting that “people have no idea what they’ve gotten themselves into.” Closer to home, CCBOR members find that Columbus citizens and some local officials and candidates for office are increasingly wary of fracking and the risk it poses to the Columbus area water supply.

				</p>
				<p>
					CCBOR has a year to collect over 20,000 signatures and is actively seeking volunteers to help meet this goal.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="alert-info">
	<div class="container">
		<h2>Other News Links</h2>
		<p>
			<a href="http://columbusfreepress.com/article/action-alert-protect-our-water-soil-and-air" target="_blank">Action Alert to Protect our Water, Soil and Air</a>--Columbus Free Press, 2018
		</p>
		
		
	</div>
</section>


