@{
	ViewBag.Title = "Latest News";
}
<section class="page-header page-header-xlg parallax parallax-3"
		 style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
	<div class="overlay dark-4"></div>
	<div class="container">
		<h1>Latest News</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index", "Home")">Home</a></li>
			<li class="active">News</li>
		</ol>
	</div>
</section>
<section class="alert-info">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>News Coverage Following CCBOR's successful campaign to collect more than 9,000 signatures to get proposed ordinance on November 2018 ballot</h3>
				<ul>
					<li>
						<a href="http://www.dispatch.com/news/20180914/columbus-environmental-issue-now-off-ballot-20th-house-candidate-remains-on" target="_blank">Columbus Environmental Issue Now Off Ballot</a><br />
						Columbus Dispatch, September 14, 2018
					</li>
					<li>
						<a href="http://freepress.org/article/football-championships-safe-water-and-local-media-priorities-0" target="_blank">Football Championships, Safe Water, and Local Media Priorities</a><br />
						Free Press, September 6, 2018
					</li>
					<li>
						<a href=" http://www.dispatch.com/opinion/20180831/letter-citizen-initiative-would-be-important-protection" target="_blank">Letter to Editor: Citizen Initiative Would Be Important Protection</a><br />
						Columbus Dispatch, August 31, 2018
					</li>
					<li>
						<a href=" http://radio.wosu.org/post/franklin-county-board-elections-rejects-fracking-ban-proposal#stream/0" target="_blank">Franklin County Board of Elections Rejects Fracking Ban Proposal</a><br />
						Radio WOSU, August 24, 2018
					</li>
					<li>
						<a href=" https://celdf.org/2018/08/press-release-columbus-oh-city-council-votes-to-advance-fossil-fuel-extraction-ban-to-ballot/" target="_blank">Press Release: Columbus, OH, City Council Votes to Advance Fossil Fuel Extraction Ban to Ballot</a><br />
						CELDF.org, August 6, 2018
					</li>
					<li>
						<a href=" https://columbusfreepress.com/article/columbus-community-bill-rights-initiative-makes-november-ballot" target="_blank">Keep Frack Waste out of our Water</a><br />
						Columbus Free Press, August 2018 issue
					</li>
					<li>
						<a href="https://www.columbusunderground.com/getting-on-the-ballot-may-be-easiest-part-for-columbus-community-bill-of-rights-ls1" target="_blank">Getting on the ballot may be easiest part for Columbus Bill of Rights</a><br />
						Columbus Underground, July 30, 2018
					</li>
					<li>
						<a href="http://radio.wosu.org/post/columbus-sets-legal-fight-over-proposal-ban-fracking#stream/0" target="_blank">Columbus sets up legal fight over proposal to ban fracking</a><br />
						WOSU Public Radio, July 24, 2018
					</li>
					<li>
						<a href="http://www.dispatch.com/opinion/20180721/letter-issue-would-protect-future-generations" target="_blank">Letter to Editor: Community bill of rights would protect future generations</a>
						<br />
						Columbus Dispatch, July 21, 2018
					</li>
					<li>
						<a href="
http://www.dispatch.com/opinion/20180714/letter-protect-columbus-with-community-bill-of-rights?rssfeed=true" target="_blank">Letter to Editor: Protect Columbus with community bill of rights</a><br />
						Columbus Dispatch, July 14, 2018
					</li>
					<li>
						<a href="http://www.dispatch.com/news/20180710/columbus-anti-fracking-initiative-makes-fall-ballot-might-not-hold-up-legally" target="_blank">Columbus Anti-Fracking Inititive Makes Ballot</a> <br />
						Columbus Dispatch, July 10, 2018
					</li>
					<li>
						<a href="https://www.columbusunderground.com/grassroots-columbus-could-soon-reclaim-jurisdiction-over-local-oil-gas-activities-ls1" target="_blank">Columbus Could Soon Reclaim Jurisdiction Over Local Oil & Gas Activities</a><br />
						Columbus Underground, July 9, 2018
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-8 col-md-9">
				<h2>
					CCBOR Media Release
				</h2>
				<h4>FOR IMMEDIATE RELEASE: September 22, 2018</h4>
				<p>
					Contact: <br />
					Carolyn Harding, Co-Organizer<br />
					<a href="mailto:columbusbillofrights@gmail.com">columbusbillofrights@gmail.com</a><br />
					<a href="tel:1-614-893-6314">614-893-6314</a>
				</p>
				<p>
					William Lyons, Co-Organizer<br />
					<a href="mailto:info@columbusbillofrights.org">info@columbusbillofrights.org</a><br />
					<a href="tel:1-614-551-6194">614-551-6194</a>
				</p>
				<h4>
					PRESS CONFERENCE/RALLY - COLUMBUS, OH, Citizens Demand Supreme Court Justices Recognize the People's Rigths and Put the Columbus Community Bill of Rights Proposed Ordinance on the Ballot
				</h4>
			</div>
			<div class="col-12 col-sm-4 col-md-3">
				<img class="float-right img-fluid" src="~/Content/assets/images/columbus-bill-of-rights-logo.png" />
			</div>
			<div class="col-12">
				<p>
					MONDAY, SEPTEMBER 24, 2018
					<br />
					12:00 NOON
					<br />
					OHIO SUPREME COURT
					<br />
					65 S Front St., Columbus, OH  43215
				</p>
				<p>
					The Columbus Community Bill of Rights supporters will give a Press Conference to update all interested media where this landmark city ordinance initiative stands with the Ohio Supreme Court, and emphatically draw a line:  We can no longer default to the powers-that-be, if they fail to honor our democratic process and our inalienable right to protect our community.  Currently the court has a motion to reconsider their September 14, 2018 decision to keep the people’s initiative off the ballot based on a decision from a federal judge on September 19 to allow two unrelated initiatives on the November ballot.
				</p>
				<p>
					After two months of finagling, delay tactics, illegitimate protocol and legal maneuverings to attempt to keep the Columbus Community Bill of Rights (CCBOR) citizen initiated ordinance off the November ballot, supporters will confront the Ohio Supreme Court Justices who will decide the fate of our Community.  The supporters will urge them to honor the 12,100 registered Columbus voters who signed the petition for their right to vote on this initiative.
				</p>
				<p>
					“The Ohio Constitution gives citizens the right to initiate law and the right to direct democracy, and we (CCBOR) have honored the stringent requirements to get the Columbus Community Bill of Rights on the ballot.  Now we hold the Supreme Court responsible to honor our Rights,” states Sandy Bolzenius, a Columbus author and voter.
				</p>

				<p>
					“I’m in this for my Grandchildren.  Who will speak for them?”  offers Karyn Deibel, a Columbus business owner and voter.
				</p>
				<p>
					“As the Director of SPAN Ohio, I’ve volunteered many hours to let the People vote to protect our most valuable resources.  If we don’t have safe water, what good is all the health insurance in the world?” urges, Bob Krasen, Columbus voter.
				</p>
				<p>
					“We can’t afford to allow Radioactive, Toxic Frack Waste to be dumped into the Columbus Watershed.  The State agency, ODNR gets their funding from Fracking and Frack Waste Injection Well permits.  Do you think they are looking out for our most vulnerable?” offers Carolyn Harding, a Bexley resident who volunteers for the campaign.  “This doesn’t just affect Columbus residents.  My community, my parent’s community, your community, 19+ Columbus Metro communities buy our water from Columbus.  This city ordinance will give the People a Voice and Vote in what comes and goes into our community.”
				</p>
				<p>
					“This group is not going anywhere.  No Board of Elections or Supreme Court of Ohio is going to scare us away.  Giving up on the environmental safety of Central Ohio is not an option.  We’re in this to Win!  Not Another Flint”, states Will Perkins a retired union member and Columbus voter.
				</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-8 col-md-9">
				<h2>
					CCBOR Media Release
				</h2>
				<h4>FOR IMMEDIATE RELEASE: September 16, 2018</h4>
				<p>
					Contact: <br />
					Carolyn Harding, Co-Organizer<br />
					<a href="mailto:columbusbillofrights@gmail.com">columbusbillofrights@gmail.com</a><br />
					<a href="tel:1-614-893-6314">614-893-6314</a>
				</p>
				<p>
					William Lyons, Co-Organizer<br />
					<a href="mailto:info@columbusbillofrights.org">info@columbusbillofrights.org</a><br />
					<a href="tel:1-614-551-6194">614-551-6194</a>
				</p>
				<h4>
					Ohio Supreme Court Joins with Legislative and Executive Branches to Strip the People of their Fundamental and Constitutional Right to Govern their Community and Protect their Water, Air and Soil
				</h4>
			</div>
			<div class="col-12 col-sm-4 col-md-3">
				<img class="float-right img-fluid" src="~/Content/assets/images/columbus-bill-of-rights-logo.png" />
			</div>
			<div class="col-12">
				<p>
					COLUMBUS, OH: On Friday, September 14th, the Ohio Supreme Court rejected the peoples’ arguments that the Franklin County Board of Elections (BOE) had violated the rights of the people to legislate directly by initiative and sided with the BOE to keep the Columbus Community Bill of Rights off the November ballot. The proposed ordinance, if enacted, would assert resident’s rights to clean water, air, and soil and ban oil & gas extraction infrastructure, particularly regarding radioactive, toxic waste disposals in the city of Columbus as a violation of those rights.
				</p>
				<p>
					The court arbitrarily determined that the municipality and the people of Columbus do not have the same rights that the cities and people of Youngstown and Bowling Green have in placing initiatives on the ballot.  After precedents set by the court’s own decisions for these cities, the Ohio high court reversed logic in Columbus and stated that municipalities do not have the rights to create new causes of action, based upon statements by a member of the Franklin County Board of Elections and reiterated by two citizen protesters.
				</p>
				<p>
					The Franklin County BOE action and the Supreme Court decision rely on wording from House Bill 463, enacted in 2017, and a prior Youngstown decision from 2016.  In dissent, Justice Fischer states that in the Youngstown decision, “I wrote an opinion concurring in judgement only in which I concluded that portions of H.B. 463 are unconstitutional and that certain pre-H.B. 463 decisions of this court had been decided in error and should be overruled.”  In the Bowling Green decision, it was ruled that it was a violation of separation of powers for a BOE to “make substantive, pre-enactment legal evaluations … and is unconstitutional.”
				</p>
				<p>
					Bill Lyons, co-organizer for CCBOR states, “By this decision Youngstown residents have more rights than the residents of Columbus because they get to vote for their Water Protection Bill of Rights in November, but the residents of Columbus do not.  This is a gross miscarriage of justice.”  He further adds that “What the court has ruled is that it is legal for the oil and gas industry to dump their toxic, radioactive waste in the Columbus watershed and illegal for the people of Columbus to protect themselves from the harms of those corporations. How long will the people accept being poisoned by their own government and their corporate masters?”
				</p>

				<p>
					Co-organizer Greg Pace states, “The myths of democracy that we live under today were actually developed right after the Revolution by white, wealthy men. The myth is that all people have the same right to govern and that the people all have a voice in our democracy. What we are witnessing today in Columbus and around Ohio is that myth being exposed. The “rights” of corporations and property have been elevated by our three branches of government, which are controlled by the 1% elite minority, above that of the people to protect their health, safety and welfare.” Pace added “People need to see very clearly with this decision that the people cannot ‘alter or reform’ an unjust and corrupt government, when that government has complete control over them doing so. In other words, the system is not broken, it is working exactly as the founders and the elite 1% minority have intended for it to work all along.”
				</p>
				<p>
					The Columbus Community Bill of Rights, an initiative by the people to protect their drinking water and environment, would enable citizens to directly address pollution and harm to their drinking water before the harm occurs. The community group poured many hours of sweat and sacrifice over an entire year to give the voters of Columbus a voice in passing this law. In a single coordinated effort by the government and the court, that voice was silenced.
				</p>
				<p>
					The Columbus citizen group chose to work with the Community Environmental Legal Defense Fund (CELDF) to draft the initiative as a result of frustration felt by residents after years of inaction by the government. CELDF has partnered with communities across more than 10 states to enact over 200 rights-based laws.
				</p>
				<p>
					The Columbus Community Bill of Rights group hopes that people will not simply “accept” this unjust decision and will join their group and efforts to continue to fight to protect the community and the future. Visit www.columbusbillofrights.org for updates and ways to help.
				</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-8 col-md-9">
				<h2>
					<a href="www.CELDF.org" target="_blank">CELDF</a> Media Release
				</h2>
				<h4>FOR IMMEDIATE RELEASE: August 24, 2018</h4>
				<p>
					Contact: <br />
					Tish O’Dell, Ohio Community Organizer<br />
					<a href="mailto:tish@celdf.org">tish@celdf.org</a><br />
					<a href="tel:1-440-552-6774">
						440-552-6774
					</a>
				</p>
				<h4>
					Franklin County Board of Elections Denies Residents the Right to Vote
					<br />
				</h4>
				<h5 class="font-style-italic">
					BOE refuses to place duly qualified Community Bill of Rights citizen initiative on the November ballot
				</h5>
			</div>
			<div class="col-12 col-sm-4 col-md-3">
				<img class="float-right img-fluid" src="~/Content/assets/images/celdf.png" />
			</div>
			<div class="col-12">
				<p>
					COLUMBUS, OH.  AUGUST 24, 2018: Today, the Franklin County Board of Elections effectively stripped 560,000 Columbus citizens of their right to vote on a ballot measure entitled Community Bill of Rights for Water, Soil, and Air Protection and to	Prohibit Gas and Oil Extraction and Related Activities and Projects Ordinance. The local group, Columbus Community Bill of Rights, qualified the measure, gathering more than 12,000 signatures. The Columbus City Council approved the measure to advance to the ballot on July 30.
				</p>
				<p>
					Columbus residents requested the assistance of the Community Environmental Legal Defense Fund (CELDF) in
					drafting the initiative. City residents face threats to drinking water from the disposal of toxic and radioactive fracking waste within the city’s watershed. The proposed ordinance recognizes democratic and environmental rights, including the right to pure water and the right to make decisions directly impacting the community’s health, safety, and welfare.
				</p>
				<p>
					Similar measures were advanced in Youngstown and Bowling Green over the last year, where residents’ right to vote on their own legislation was recognized by the Wood County Board of Elections and the Ohio Supreme Court.	The Franklin County Board of Elections is using HB 463 to justify their actions. HB 463 was adopted by the Ohio legislature on behalf of the oil and gas industry in December 2016. The House Bill takes direct aim at stopping Community Rights initiatives from advancing to the ballot, and goes against 104 years of precedent that protected citizen initiative from governmental interference.
				</p>
				<p>
					“The Board of Elections meeting today was a farce. Board members began by stating they are not there as lawyers and are not in a position to vote on this – and then they proceeded to vote such that we, the people, cannot,” stated	Bill Lyons of the Columbus Community Bill of Rights. “In fact, neither we, nor our attorney, was permitted to speak prior to their vote. We have a right to speak, we have a right to vote, and we have a right to clean water. Today, we’ve been denied each of them.”
				</p>
				<p>
					Tish O’Dell, CELDF’s Ohio community organizer, added, “Some Ohioans have more rights than others. When
					Youngstown and Bowling Green residents’ rights to put laws on the ballot are recognized, while Columbus residents’ rights are denied – we have a democracy problem. The Franklin County BOE is acting outside of its authority by	blocking the people’s ballot measure from a vote by the people.”
				</p>
				<p>
					Citizen initiative is protected in the Ohio state constitution and in the Columbus city charter. Columbus residents are determined to exercise their right to initiative and to protect their health, safety, and welfare over harmful oil and gas industry projects. They are working with CELDF to challenge the decision.
				</p>
				<p><b>Ohio Communities Part of Growing Movement</b></p>
				<p>
					Ohio residents are advancing Community Rights as part of the broader Community Rights Movement building across the United States, where other localities are advancing similar measures to establish and protect their rights to a healthy climate, clean air and water, and the right to local community self-government.

				</p>
				<p>
					Local communities and state Community Rights Networks are partnering with CELDF to advance these fundamental	democratic and environmental rights. They are working with CELDF to establish Community Rights and the Rights of Nature into law, and prohibit extraction, fracking, factory farming, water privatization, and other industrial activities	as violations of those rights. Communities are joining together within and across states, working with CELDF to advance systemic change - recognizing our existing system of law and governance as inherently undemocratic and unsustainable.
				</p>
				<p><b>Additional Information</b></p>
				<p>
					For additional information regarding petitioning communities, contact CELDF at <a href="mailto:info@celdf.org">info@celdf.org</a>. To learn about the	Ohio Community Rights Network, visit <a href="ohiocrn.org" target="_blank">ohiocrn.org</a>. To learn about the Community Rights Movement, visit	<a href="www.celdf.org" target="_blank">www.celdf.org</a>.
				</p>
				<p>
					<b>
						About CELDF — Community Environmental Legal Defense Fund
					</b>
				</p>
				<p>
					The Community Environmental Legal Defense Fund is a non-profit, public interest law firm providing free and	affordable legal services to communities facing threats to their local environment, local agriculture, local economy,	and quality of life. Its mission is to build sustainable communities by assisting people to assert their right to local self-government and the rights of nature.
				</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-8 col-md-9">
				<h2>
					CCBOR Media Release
				</h2>
				<h4>FOR IMMEDIATE RELEASE: August 6, 2018</h4>
				<p>
					Contact: <br />
					Carolyn Harding, Co-Organizer<br />
					<a href="mailto:columbusbillofrights@gmail.com">columbusbillofrights@gmail.com</a><br />
					<a href="tel:1-614-893-6314">614-893-6314</a>
				</p>
				<p>
					William Lyons, Co-Organizer<br />
					<a href="mailto:info@columbusbillofrights.org">info@columbusbillofrights.org</a><br />
					<a href="tel:1-614-551-6194">614-551-6194</a>
				</p>
				<h4>
					Columbus, OH, will vote on citizen-initiated community Bill of Rights ordinance headed for ballot. <br /><br />
					The people's initiative codifies the right to clean air, water, and soil and prohibits gas and oil extraction and related activities
				</h4>
			</div>
			<div class="col-12 col-sm-4 col-md-3">
				<img class="float-right img-fluid" src="~/Content/assets/images/columbus-bill-of-rights-logo.png" />
			</div>
			<div class="col-12">
				<p>
					COLUMBUS -- August 24. At a special meeting of the Franklin County Board of Elections (BOE), Friday, August 24 at 10:30am, the Columbus Community Bill of Rights attorney Terry Lodge will present the legal arguments in support of the Columbus Community Bill of Rights ordinance to clear its passage on the November ballot. Once on the ballot, all Columbus voters will have a voice in protecting their water.
				</p>
				<p>
					After the citizen-led initiative qualified with enough signatures and was approved by the Columbus City Council to go on the ballot, a single Columbus citizen, Loretta A. Settlemeyer filed a protest with the BOE. It has been discovered that she is a legal assistant at the law firm Bricker & Eckler LLP, a firm that has been involved in other attempts by residents throughout the state to protect their communities from oil/gas projects. Her attorneys will present her case as to why her single voice should be allowed to take away the voices of all other Columbus voters.
				</p>
				<p>
					Two different Columbus city attorneys on three different occasions have determined that the Columbus Community Bill of Rights initiative passes the legal requirements set forth by the Columbus City Charter. On July 30, 2018, the Columbus City Council ordered and provided for the submission of the initiated ordinance to the electors at the November 6, 2018 election. Settlemeyer never voiced her objections at any of the three city council meetings when the Community Bill of Rights initiative appeared on the agenda.
				</p>
				<p>
					This is the third rescheduled BOE hearing. Each postponement has delayed the decision to put this hard-won citizen-led initiative on the November ballot.
				</p>
				<p>Volunteers and supporters of the Columbus Community Bill of Rights will be attending this pivotal hearing and decision at the Franklin County Board of Elections. </p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-8 col-md-9">
				<h2>
					CCBOR Media Release
				</h2>
				<h4>FOR IMMEDIATE RELEASE: Monday, June 25, 2018</h4>
				<p>
					Contact:  <br />
					Carolyn Harding - <a href="tel:1-614-893-6314">(614) 893-6314</a> <br />
					Bill Lyons - <a href="tel:1-614-551-6194">(614) 551-6194</a>
				</p>
				<h4>
					THE COLUMBUS COMMUNITY BILL OF RIGHTS CAMPAIGN <br />
					TURNS IN MORE THAN DOUBLE THE NUMBER OF SIGNATURES REQUIRED <br />
					TO SECURE PROPOSED ORDINANCE ON NOVEMBER’S BALLOT

				</h4>
			</div>
			<div class="col-12 col-sm-4 col-md-3">
				<img class="float-right img-fluid" src="~/Content/assets/images/columbus-bill-of-rights-logo.png" />
			</div>
			<div class="col-12">
				<p>
					COLUMBUS – The citizen-led Columbus Community Bill of Rights, a city ordinance, restores Columbus citizens’ Rights to protect their water, air and soil from oil & gas drilling, toxic and radioactive waste and infrastructure within the city of Columbus.  This city ordinance disallows road spreading of oil & gas produced brines within city limits.  Recent reports show these products to contain radium-226 amounts in excess of 500 times the EPA’s drinking water limit.  The proposed ordinance also ensures Columbus citizens legal teeth to hold corporations liable for hazardous oil and gas activities from neighboring municipalities should these activities harm the water, air or soil of Columbus.
				</p>
				<p>
					With 13 active frack waste injection wells, and four more permitted in the Upper Scioto Watershed (Columbus’ water source), Central Ohioans recognize that they must take action to protect the health and safety of their environment.  The majority of the Upper Scioto Watershed injection wells are abandoned vertical oil wells with no holding tank to contain the waste.  In addition, the State of Ohio has recently permitted the oil & gas industry to dump potentially highly-radioactive frack drill cuttings in a landfill located within the city of Columbus - without testing for radioactivity.

				</p>
				<p>
					Historically, Ohioans have had local control over decisions regarding oil and gas activities.  That changed in 2004, when state lawmakers gave complete jurisdiction to ODNR (the Ohio Department of Natural Resources), a department that also takes funds for frack drilling and dumping of frack waste.  This toxic radioactive frack waste (liquid & solid) comes from Ohio oil & gas activities, and from neighboring states, i.e. Pennsylvania and West Virginia.  Recent State plans for an $83 billion petrochemical complex on the Ohio River will dramatically increase frack waste disposal in our State.  We must ensure now that we protect our local water, air and soil.
				</p>
				<p>
					The Columbus Community Bill of Rights, when adopted by Columbus voters in November, 2018, will restore Columbus citizens’ inalienable rights for local self-governance, regarding oil and gas activities, to ensure the safety of their water, air, soil, and their rights for a sustainable energy future.
				</p>
				<p>
					<a href="@Url.Action("BillOfRights","Resources")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>READ BILL OF RIGHTS</a>
				</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-8 col-md-9">
				<h2>
					CCBOR Media Release
				</h2>
				<h4>FOR IMMEDIATE RELEASE: June 26, 2017</h4>
				<p>
					Contact: <br />
					Sandy Bolzenius, <br />
					<a href="mailto:bolzenius.2@osu.edu">bolzenius.2@osu.edu</a><br />
					<a href="tel:1-614-843-6170">614-843-6170</a>
				</p>
				<h4>
					Local Group Launches Local Campaign for <br />
					Local Control to Protect City’s Water
				</h4>
			</div>
			<div class="col-12 col-sm-4 col-md-3">
				<img class="float-right img-fluid" src="~/Content/assets/images/columbus-bill-of-rights-logo.png" />
			</div>
			<div class="col-12">
				<p>
					COLUMBUS – On June 26, the Columbus Community Bill of Rights (CCBOR) group launches its third campaign to put the CCBOR ordinance on the ballot. Grounded in both the United States and the Ohio Constitutions’ declarations that all humans have inalienable rights to life, liberty, and the pursuit of happiness, the proposed ordinance asserts citizens’ rights to safeguard their water, air, and soil. Once passed, the measure will provide the City of Columbus and its officials the authority to protect local residents and their natural environment from fracking and its harmful waste products.
				</p>
				<p>
					Two previous campaigns that collectively garnered nearly 25,000 signatures have raised local awareness of the shale gas industry. Columbus residents are appalled to learn that in the Columbus watershed just a half-hour's drive from Columbus, the fracking industry is using 13 injection wells, all with old pipes, as sites for forcing, under pressure, radioactive and toxic brine into the ground. To complacent residents of Columbus who see neither drills nor injection wells within their city limits, CCBOR co-founder Carolyn Harding sends a stark reminder: “We are all downstream.”
				</p>
				<p>
					Considering the risks associated with fracking, CCBOR member and college Chemistry instructor Charlotte Owens warns, “After contamination, even if clean-up is possible, it is so much more expensive than prevention,” adding that “prevention is the best approach for so many reasons.” Sandy Bolzenius concurs: “Once the water and our children are poisoned, the catastrophic mess left behind cannot always be remedied by lawsuits and settlements.” Columbus resident Kathy McGlone knows first-hand that “fracking is a nightmare.” The retired high school science teacher worries about her former students living in the highly fracked region of Monroe County, lamenting that “people have no idea what they’ve gotten themselves into.” Closer to home, CCBOR members find that Columbus citizens and some local officials and candidates for office are increasingly wary of fracking and the risk it poses to the Columbus area water supply.

				</p>
				<p>
					CCBOR has a year to collect over 20,000 signatures and is actively seeking volunteers to help meet this goal.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="alert-info">
	<div class="container">
		<h2>Other News Links</h2>
		<p>
			<a href="http://columbusfreepress.com/article/action-alert-protect-our-water-soil-and-air" target="_blank">Action Alert to Protect our Water, Soil and Air</a>--Columbus Free Press, 2018
		</p>
		<p>
			<a href="http://columbusfreepress.com/article/demanding-our-right-clean-air-water-and-soil-our-community" target="_blank">Demanding Our Right to Clean Air, Water and Soil</a>--Columbus Free Press, 2016
		</p>


	</div>
</section>


