
<section>
    <div class="container">
        <h2>Volunteer at Comfest</h2>
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <a href="https://www.comfest.com/?" target="_blank">
                    <img src="~/Content/assets/images/ComFestPoster.jpg" class="img-fluid"/>
                </a>
            </div>
            <div class="col-sm-9 col-md-10">
                <p><a href="https://www.comfest.com/?" target="_blank">ComFest 2018</a> is the most important petitioning event for Columbus Community Bill of Rights.  It takes place in Columbus' beautiful Goodale Park from Friday, June 22 through Sunday, June 24, 2018. Please join us as we continue our effort to protect Ohio's Water, Air & Soil and promote clean, renewable energy! </p>
                <p>
                    Click <a href="https://docs.google.com/spreadsheets/d/1-m7R7NBYKHYtrXiJ3qHLwB8ihr9K-kqC8wpedxTvigE/edit?ts=5b0364ad#gid=0">HERE</a> to access the 2018 ComFest booth volunteer schedule.  You can edit and assign yourself a slot to get people to sign our petition at our booth.
                </p>
                <p>
                    And at Comfest we have a dedicated booth for signing the petition.
                </p>
            </div>
        </div>
    </div>
</section>