<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3 class="letter-spacing-1">The Columbus Community Bill of Rights</h3>
                <h4>DONATE NOW</h4>
                @Html.Partial("~/Views/HelpOut/Shared/_PayPalDonate.cshtml")
            </div>
			<div class="col-md-3">
				<a href="https://www.facebook.com/ColumbusBillofRights/" target="_blank">
					<i class="ico-color ico-bordered ico-4x ico-hover fa fa-facebook"></i>
				</a>
				<a href="https://www.instagram.com/columbusbillofrights/" target="_blank">
					<i class="ico-color ico-bordered ico-4x ico-hover fa fa-instagram"></i>
				</a>
				<a href="https://twitter.com/ColumbusR" target="_blank">
					<i class="ico-color ico-bordered ico-4x ico-hover fa fa-twitter"></i>
				</a>
			</div>
            <div class="col-md-4">
                <h3 class="letter-spacing-1">KEEP IN TOUCH</h3>
                <p>Subscribe to Our Newsletter to get Important News</p>
                <form id="subscribeForm" method="post">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="email" id="emailAddress" name="EmailAddress" class="form-control" placeholder="Enter Your Email">
                        <span class="input-group-btn">
                            <button class="btn btn-success toastr-notify" type="submit">Subscribe</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="text-center">
                Copyright &copy; 2017-@DateTime.Now.Year All Rights Reserved, The Columbus Community Bill of Rights
                <div class="mt-5">
                    <a href="https://www.jmgsoftware.com" target="_blank" title="JMG Software">Powered By JMG Software</a>
                </div>
            </div>
        </div>
    </div>
</footer>