<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="letter-spacing-1">The Columbus Community Bill of Rights</h3>
                <h4>DONATE NOW</h4>
                @Html.Partial("~/Views/HelpOut/Shared/_PayPalDonate.cshtml")
            </div>
            <div class="col-md-4">
                <h3 class="letter-spacing-1">KEEP IN TOUCH</h3>
                <p>Subscribe to Our Newsletter to get Important News</p>
                <form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Subscribe</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            &copy; All Rights Reserved, The Columbus Community Bill of Rights
        </div>
    </div>
</footer>