<div id="header" class="navbar-toggleable-md sticky clearfix">
    <div class="search-box over-header">
        <a id="closeSearch" href="#" class="fa fa-remove"></a>
        <form action="#" method="get">
            <input type="text" class="form-control" placeholder="SEARCH" />
        </form>
    </div>
    <header id="topNav">
        <div class="container">
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <ul class="float-right nav nav-pills nav-second-main">
                <li class="search">
                    <a href="javascript:;">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
            </ul>
            <a class="logo float-left" href="@Url.Action("Index","Home")">
                <img src="~/Content/assets/images/columbus-bill-of-rights-logo.png" 
                     alt="Columbus Community Bill of Rights" />
            </a>
            <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                <nav class="nav-main">
                    <ul id="topMain" class="nav nav-pills nav-main">
                        <li>
                            <a href="@Url.Action("Index","Home")">
                                HOME
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="@Url.Action("Index","OurWork")">
                                OUR WORK
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a href="@Url.Action("About","OurWork")">
                                        ABOUT CCBOR
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">
                                        FRANKLIN COUNTY CHARTER
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">
                                        WE THE PEOPLE 2.0
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">
                                        OHIO DEMOCRACY SCHOOL
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">
                                RESOURCES
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a href="#">
                                        INJECTION WELLS
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">
                                        EPA RULES
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">
                                        RADIOACTIVE WASTE ALERT
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">
                                HELP OUT
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a href="#">
                                        DONATE
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">
                                        VOLUNTEER
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">
                                        APPAREL
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">
                                EVENTS
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a href="#">
                                        CURRENT
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">
                                        PAST
                                    </a>
                                </li>   
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                BLOG
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">
                                MEDIA
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a href="#">
                                        PHOTO GALLERY
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">
                                        VIDEO GALLERY
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                CONTACT
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>