<div class="modal fade" id="ShowWaitModal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Processing Your Request!</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <p>
                        Please Wait.....
                    </p>
                    <img src="~/Content/assets/images/loaders/4.gif" alt="Processing Your Request" />
                </div>
            </div>
        </div>
    </div>
</div>