<div id="slidetop">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h6><i class="fa-facheck"></i> QUICK LINKS</h6>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fa fa-angle-right"></i> HOME</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> OUR WORK</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> RESOURCES</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> HELP OUT</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> EVENTS</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> BLOG</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> CONTACT</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6><i class="icon-heart"></i> The Columbus Community Bill of Rights</h6>
                <p>Columbus Residents are working to ensure safe drinking water, clean air, and safe soil in the City of Columbus.</p>
            </div>
            <div class="col-md-4">
                <h6><i class="icon-envelope"></i> CONTACT INFO</h6>
                <ul class="list-unstyled">
                    <li><b>Address:</b> PO Box 123456<br />Columbus, Ohio 43202</li>
                    <li><b>Phone:</b> 1-800-123-4567</li>
                    <li><b>Email:</b> <a href="mailto:support@yourname.com">ColumbusBillofRights@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <a class="slidetop-toggle" href="#"></a>
</div>