<div id="rev_slider_ccborHome_wrapper"
     class="rev_slider_wrapper fullscreen-container"
     data-alias="CCBOR"
     data-source="gallery"
     style="background-color:#111111;padding:0px;">
    <div id="rev_slider_ccborHome" class="rev_slider fullscreenbanner" style="display:none;"
         data-version="5.3.0.2">
        <ul class="hide">
            <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"
                data-title="The Columbus Community Bill of Rights"
                data-thumb="@Url.Content("~/Content/assets/images/mdl-blue-min.jpg")">
                <img src="~/Content/assets/images/_smarty/1x1.png"
                     data-lazyload="@Url.Content("~/Content/assets/images/mdl-blue-min.jpg")" alt="" data-bgfit="cover"
                     data-bgposition="center center" data-bgrepeat="no-repeat" />
                <div class="overlay dark-1"></div>
                <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                     data-x="center"
                     data-y="100"
                     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="800"
                     data-start="1000"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn" style="z-index: 10;">
                    <span>THE CAMPAIGN FOR</span>
                </div>
                <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                     data-x="center"
                     data-y="205"
                     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="800"
                     data-start="1200"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn" style="z-index: 10; width: 100%; white-space: normal; text-align:center; font-size:75px;">
                    <span>THE COLUMBUS COMMUNITY BILL OF RIGHTS</span>
                </div>
                <div class="tp-caption customin ltl tp-resizeme small_light_white"
                     data-x="center"
                     data-y="350"
                     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="800"
                     data-start="1400"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn" style="z-index: 10; width: 100%; max-width: 750px; white-space: normal; text-align:center; font-size:25px;">
                    <span>CLEAN AND SAFE: WATER | AIR | ENVIRONMENT </span>
                </div>
                <div class="tp-caption customin ltl tp-resizeme"
                     data-x="center"
                     data-y="383"
                     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="800"
                     data-start="1550"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn" style="z-index: 10;">
                    @*<a href="@Url.Action("Donate","HelpOut")" class="btn btn-green btn-lg">
                            <span>DONATE NOW</span>
                        </a>*@
                </div>
            </li>
        </ul>
    </div>
</div>