@{
    ViewBag.Title = "Coming Events";
}


<section class="page-header page-header-xlg parallax parallax-3"
         style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>Coming Events</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="active">Events</li>
        </ol>
    </div>
</section>
<section>
    <div class="container">
        <h2>Events</h2>
        <h4>
            Sign up below for our upcoming events to circulate petitions, sign our petition, and learn more about our issue. 
        </h4>
		<ol>
			<li>
				Find the event you want to help at, and click on it.
			</li>
			<li>
				Before you click Register to to the line that says-"Click here to sign up for your time slot." You will be sent to the Google Doc with time slots, enter your name and email in the slot/s you will be petitioning. You don't need to give your phone number if you don't want to.
			</li>
			<li>
				Then click Register - (it says you're getting a ticket, but it's the way we know you are signing up to petition)
			</li>
			<li>
				Follow the prompts, put in your name and email address, etc. and "complete registration".
			</li>
			<li>
				You'll get an email with the confirmation that you have signed up.
			</li>
		</ol>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 text-center" id="eventBrite">
                <iframe src="https://www.eventbrite.com/calendar-widget?eid=46250330985" frameborder="0" height="500" width="210" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true" style="text-align:center; display:block; margin:auto;"></iframe>
            </div>
            @*<div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Title</h3>
                    </div>
                    <div class="card-body">
                        <div>Date/time</div>
                        <p>location</p>
                        <p>Description </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>REGISTER</a>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>

@section scripts {
    <script src="~/Content/assets/js/eventbrite.js"></script>
}


