
@{
	ViewBag.Title = "Bill of Rights";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header page-header-xlg parallax parallax-3"
		 style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
	<div class="overlay dark-4"></div>
	<div class="container">
		<h1>FULL TEXT OF THE COLUMBUS COMMUNITY BILL OF RIGHTS</h1>
		<ol class="breadcrumb">
			<li><a href="@Url.Action("Index","Home")">Home</a></li>
			<li><a href="@Url.Action("Index","Resources")">Resources</a></li>
			<li class="active">Full Text</li>
		</ol>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-12  text-center">
				<h2>INITIATIVE PETITION</h2>
				<p>
					<strong>
						Columbus City Charter Sections 42 and <br />
						45, Ohio Revised Code Sections <br />
						3501.38, 3503.06
					</strong>
				</p>
				<p>
					<strong>
						The following is a full and correct copy of the title and text of the proposed city ordinance:
					</strong>
				</p>
				<h4>
					To Establish a Community Bill of Rights for Water, Soil, and Air
					Protection and to Prohibit Gas and Oil Extraction and Related Activities
					and Projects
				</h4>
			</div>
			<div class="col-12">
				<p>
					<b>WHEREAS,</b> people and communities find that laws ostensibly enacted to protect them, and to foster their health, prosperity, and fundamental rights, do neither; and that the very air, land, and water – on which their lives and happiness depend – are threatened, it becomes necessary for the people to reaffirm, reclaim, and assert their inalienable rights.
				</p>
				<p>
					Therefore, we the People of Columbus, in the State of Ohio, affirm Article 1, Sections 1 and 2, of the	Ohio State Constitution, which state:
				</p>
				<blockquote>
					<p>
						“All men are, by nature, free and independent, and have certain inalienable rights, among which are those of enjoying and defending life and liberty, acquiring, possessing, and protecting property, and seeking and obtaining happiness and safety.
					</p>
					<p>
						“All political power is inherent in the people. Government is instituted for their equal protection and benefit, and they have the right to alter, reform, or abolish the same, whenever they may deem it necessary; and no special privileges or immunities shall ever be granted, that may not be altered, revoked, or repealed by the general assembly.”
					</p>
				</blockquote>
				<p>
					<b>WHEREAS,</b> all power of governance is inherent in the people, we, the people of Columbus, Ohio, declare and enact the following civil rights law:
				</p>
				<p>
					<i>We the people of Columbus</i> find that our current system of government fails to recognize our self-governing authority because corporations may assert their “rights” to override our laws; our local government and elected representatives can be preempted by state or federal government even when our elected representatives act to protect our community’s health, safety, and welfare; and our local government is banned from adopting and enforcing laws that have not been authorized by the state; and
				</p>
				<p>
					<i>We the people of Columbus</i> assert that the operation of those legal doctrines renders our local government unable to protect our rights, and the application of those doctrines renders us powerless to exercise our self-governing authority; and
				</p>
				<p>
					<i>We the people of Columbus</i> possess the constitutional right to change those elements of our current system of government which fail to recognize our self-governing authority and that have rendered us unable to secure our rights; and
				</p>
				<p>
					<i>We the people of Columbus</i> hereby adopt this law to ensure a system of local governance that recognizes our self-governing authority while securing and protecting our rights.
				</p>
				<p>
					<b>BE IT ORDAINED BY THE PEOPLE OF THE CITY OF COLUMBUS,</b> we hereby exercise our
					inherent and inalienable right of local community self-governance to adopt this Community Bill of
					Rights law, in order to assert and enforce our fundamental civil, human, and environmental rights.
				</p>
				<p>
					<strong><u>Section 1 – Definitions</u> </strong>
				</p>
				<p>As used in this Ordinance, these terms mean:</p>
				<ol type="a">
					<li>
						“Corporations,” for purposes of this Ordinance, includes any corporation, partnership, 
						liability partnership, business trust, public benefit corporation, business entity, municipal corporation or limited liability company organized under the laws of any state of the United States or under the laws of any country.
					</li>
					<li>
						“Engage in the extraction of hydrocarbons” includes, but is not limited to, except as limited by 1(c):
						<ol type="i">
							<li>
								hydraulic fracturing, vertical drilling, directional drilling, or horizontal drilling, that seeks to extract hydrocarbons, including all activities necessary to, and associated with, those types of drilling;
							</li>
							<li>
								the  siting  or  use  of  infrastructure  or  transportation  supporting  the  extraction  of hydrocarbons,  including  but  not  limited  to  processing  facilities,  pipelines,  vehicles, compressor stations, storage facilities, recycling and disposal facilities;
							</li>
							<li>
								the extraction of water from any surface or subsurface source within the City of Columbus for use in extraction of oil and gas;
							</li>
							<li>
								the  deposit,  disposal,  storage,  processing,  beneficial  use  or  pipeline  transport  of  any liquid  or solid  waste,  produced  water,  frack  water,  brine,  drill  cuttings,  or  other  materials, chemicals, or by-products used in, or resulting from, the extraction of oil and gas;
							</li>
							<li> the application for, or issuance of, a permit to engage in these activities. </li>
						</ol>
					</li>
					<li>
						This definition shall not apply to the manufacture, production, sale or distribution of materials and components used in the extraction of hydrocarbons, but only the actual siting and placement of such infrastructure or transport systems, and their materials and components, within the City of Columbus. This term shall not apply to the installation, maintenance, normal use or repair of facilities, equipment or materials used exclusively for local retail, local commercial or local residential end-users of fossil fuels.
					</li>
				</ol>
				<p>
					<strong>
						<u>
							Section 2 – Statements of Law – Rights of the People of Columbus and the Natural
							Environment
						</u>
					</strong>
				</p>
				<p>
					<b>Section 2.1. Rights Enumerated, Reserved, Self-Executing and Enforceable.</b> The rights enumerated herein are in addition to, and shall not limit or abridge, other rights retained by the people. All rights delineated and secured by this ordinance shall be fundamental, unalienable, and self-executing and these rights shall be enforceable against private and public entities.
				</p>
				<ol type="a">
					<li>
						<b>
							Right of Local Community Self-Government.
						</b>All residents of the City of Columbus possess the right to a form of governance in the City which is based on the people’s self-governing authority, and which protects and secures the rights of the people of Columbus. Use of the “City of Columbus” municipal corporation by the people of Columbus for the making and enforcement of this law shall
						not be deemed, by any authority, to eliminate, limit, or reduce that self-governing authority.
					</li>
					<li>
						<b>Governmental Legitimacy.</b> All legitimate governments in the United States owe their existence to the people of the community that those governments serve, and governments exist to secure and protect the rights of the people and those communities. Any system of government that becomes destructive of those ends is not legitimate, lawful, or constitutional
					</li>
					<li>
						<b>Right to Assert the Right of Self-Government.</b> The people of Columbus possess the right to use their local government to make law, and the making and enforcement of law by the people through a municipal corporation, or any other institution, shall not eliminate, limit, or reduce their sovereign right of local community self-government.
					</li>
					<li>
						<b>
							Right to Potable Water.
						</b> All residents, natural communities and ecosystems in the City of Columbus possess the right to sustainably access, use, consume, and preserve water from natural sources which is untainted by toxins, carcinogens, radioactive substances, particulates and other substances known to cause harm to health, resulting from activities prohibited by this ordinance and other laws of the City.
					</li>
					<li>
						<b>
							Right to Clean Air.
						</b>All residents, natural communities and ecosystems in the City of Columbus possess the right to breathe air untainted by toxins, carcinogens, radioactive substances, particulates and other substances known to cause harm to health, resulting from activities prohibited by this ordinance and other laws of the City.
					</li>
					<li>
						<b>
							Right to Safe Soil.
						</b>All residents, natural communities and ecosystems in the City of Columbus possess the right to soil, untainted by toxins, carcinogens, radioactive substances and other substances known to cause harm to health, resulting from activities prohibited by this ordinance and other laws of the City.
					</li>
					<li>
						<b>
							Right to Peaceful Enjoyment of Home.
						</b>Residents of the City of Columbus possess the right to the peaceful enjoyment of their homes, free from interference, intrusion, nuisances or impediments to access and occupation, resulting from activities prohibited by this ordinance and other laws of the City.
					</li>
					<li>
						<b>
							Right to be Free from Toxic Trespass.
						</b>All residents, natural communities and ecosystems in the
						City of Columbus possess the right to be free from trespass by manufactured chemicals, toxins, carcinogens, pathogens, radioactive substances, particulates and other substances known to cause harm to health, resulting from activities prohibited by this ordinance and other laws of the City.
					</li>
					<li>
						<b>
							Rights of Natural Communities.
						</b>Natural communities and ecosystems, including, but not limited to, wetlands, streams, rivers, aquifers, and other water systems, possess the rights to exist and flourish within the City of Columbus.
					</li>
					<li>
						<b>
							Right to a Sustainable Energy Future.
						</b>
						All residents in the City of Columbus possess the right to a sustainable energy future, which includes, but is not limited to, the development, production, and use of energy from renewable, non-polluting, and sustainable fuel sources, as well as the authority to establish local sustainable energy policies to further secure this right, and the right to be free from energy development, production, and use, that may adversely impact natural and human communities.
					</li>
				</ol>
				<p>
					<strong>
						<u>Section 3 – Statements of Law – Prohibitions Necessary to Secure the Bill of Rights </u>
					</strong>
				</p>
				<p>
					To further secure and protect the rights enumerated by the Community Bill of Rights, the following shall apply:
				</p>
				<ol type="a">
					<li>
						It shall be unlawful for any corporation or government to engage in the extraction of hydrocarbons within the City of Columbus, with the exception of gas and oil wells installed and operating at the time of enactment of this ordinance, provided that the extraction of gas or oil from those existing wells does not involve any practice or process not previously used for the extraction of gas or oil from those wells. No existing well may lawfully be used as an injection well for storage of oil and gas industry waste.
					</li>
					<li>
						Corporations and governments that engage in the extraction of hydrocarbons in a neighboring municipality, county or state shall be strictly liable for all rights violations within the City of Columbus that occur as a result of those activities.
					</li>
					<li>
						No permit, license, privilege, charter, or other authority issued by any state, federal or international entity that would violate the prohibitions of this ordinance or any rights secured by this Ordinance, the Ohio Constitution, the United States Constitution, or other laws, shall be deemed valid within the City of Columbus.
					</li>
				</ol>
				<p>
					<strong>
						<u>Section 4 – Enforcement</u>
					</strong>
				</p>
				<p>These enforcement provisions shall be in force:</p>
				<ol type="a">
					<li>
						Any person, corporation, or other entity that violates any prohibition of this Ordinance shall be guilty of a first-degree misdemeanor criminal offense and, upon conviction thereof, shall be sentenced to pay the maximum fine allowable under State law for that violation, and shall be imprisoned to the extent allowed by law. A separate offense shall arise for each day or portion thereof in which a violation occurs and for each section of this Ordinance found to be violated.
					</li>
					<li>
						The City of Columbus, or any resident of the City of Columbus, may also enforce the rights and prohibitions of this Community Bill of Rights through an action brought in any court possessing jurisdiction over activities occurring within the City. In such an action, the City or the resident shall be entitled to recover all costs of litigation, including, without limitation, expert and attorney’s fees.
					</li>
					<li>
						Any action brought by either a resident of the City, or by the City, to enforce or defend the rights of ecosystems or natural communities secured by this ordinance shall bring that action in the name of the ecosystem or natural community in a court possessing jurisdiction over activities occurring within the City of Columbus. Damages shall be measured by the cost of restoring the ecosystem or natural community to its state before the injury, and shall be paid to the City of Columbus to be used exclusively for the full and complete restoration of the ecosystem or natural community.
					</li>
				</ol>
				<p>
					<strong>
						<u>Section 5 – Enforcement – Corporate Powers </u>
					</strong>
				</p>
				<p>These enforcement provisions regarding powers of private corporations shall be in force: </p>
				<ol type="a">
					<li>
						Corporations that violate or seek to violate the ordinance shall not be deemed to be “persons,” nor possess any other legal rights, privileges, powers, or protections that would interfere with the rights or prohibitions enumerated by this ordinance. “Rights, privileges, powers, or protections” shall include the power to assert  state  or  federal  preemptive laws in an attempt to overturn this Community Bill of Rights, and the power to assert that the people of this municipality lack the authority to adopt this Community Bill of Rights.
					</li>
					<li>
						To ensure that the people's rights are not preempted, all laws adopted by the legislature of the State of Ohio, and rules adopted by any State agency, shall be the law of the City of Columbus only to the extent that they do not violate the rights or prohibitions of this Community Bill of Rights.
					</li>
				</ol>
				<p>
					<strong>
						<u>Section 6 – Effective Date and Existing Permit Holder</u>
					</strong>
				</p>
				<p>
					This law shall be effective immediately on the date of its enactment, at which point the law shall apply to any and all actions that would violate this law regardless of the date of any applicable local, state, or federal permit.
				</p>
				<p>
					<strong>
						<u>Section 7 – Right to Amend or Repeal </u>
					</strong>
				</p>
				<p>
					Any future amendment or repeal to any part of this ordinance or the entire ordinance is reserved to the voters of the City of Columbus. Council may not repeal or amend any part of this ordinance without the issue being submitted to the voters at a regular municipal election and approved by a majority of the electors. Council may only make non-substantive edits to this ordinance such as recodification and correction of any grammatical issues.
				</p>
				<p>
					<strong>
						<u>Section 8 – People’s Right of Self-Government </u>
					</strong>
				</p>
				<p>
					Use of the courts or the Ohio legislature in attempts to overturn the provisions of this ordinance, or any of its sections, shall require the city to convene monthly public community meetings, publicized prominently and focused on changes to local governance until the right of the people to local community self-government is achieved and the rights recognized by this ordinance are secured.
				</p>
				<p>
					<strong>
						<u>Section 9 – State and Federal Constitutional Changes</u>
					</strong>
				</p>
				<p>
					Through  the  adoption  of  this  ordinance  and  each  of  its  sections,  the  people  of  the  City  of Columbus call for changes to the Ohio Constitution and the Federal Constitution to recognize a right  of  local  community  self-  government,  free  from  governmental  preemption  or  nullification by corporate “rights”.
				</p>
				<p>
					<strong>
						<u>Section 10 – Severability </u>
					</strong>
				</p>
				<p>
					The provisions of this law are severable. If any court decides that any section, clause, sentence, part, or provision of this law is illegal, invalid, or unconstitutional, such decision shall not affect, impair, or invalidate any of the remaining sections, clauses, sentences, parts, or provisions of the law. Petitioners and electors would have supported this law without the invalid sections.
				</p>
				<p>
					<strong>
						<u>Section 11 – Repealer </u>
					</strong>
				</p>
				<p>
					All provisions of prior ordinances, laws, or charter amendments adopted by the City of
					Columbus, that are inconsistent with this Bill of Rights, are hereby repealed, but only to the
					extent necessary to remedy the inconsistency.
				</p>
				<p>
					<strong>
						<u>Section 12 – Interpretation </u>
					</strong>
				</p>
				<p>
					Any reviewing court must liberally interpret this law’s provisions to achieve the goals stated in the preamble. Be it ENACTED AND ORDAINED this 6th day of November, 2018, by the people of the City of Columbus, Ohio.
				</p>
			</div>
		</div>
	</div>
</section>

