
@{
    ViewBag.Title = "EPA";
}

<section class="page-header page-header-xlg parallax parallax-3"
         style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>2017 Ohio EPA oil/gas production waste rules proposal</h1>
        <ol class="breadcrumb">
            <li><a href="~/Views/Home/Index.cshtml">Home</a></li>
            <li><a href="~/Views/OurWork/Index.cshtml">Our Work</a></li>
            <li class="active">About</li>
        </ol>
    </div>
</section>
<section class="theme-color">
    <div class="container ">
        <h2>2017 Ohio EPA oil/gas production waste rules proposal</h2>
        <p>
            The Ohio EPA is in the process of <a href="http://www.epa.ohio.gov/dmwm/dmwmnonhazrules.aspx" target="_blank">creating new rules </a>to regulate the disposal of about 90% of solid wastes that result from the production of oil and gas (fracking).  These rules include criteria for monitoring of radioactive content levels in  solid wastes that are to be disposed of in Ohio's landfills.
        </p>
        <p>
            Columbus Community Bill of Rights' contention has been that these wastes have radiation levels significantly above background.  Of particular concern are the presence and ongoing creation of water-soluble and bone-seeking radium-226, and radon gas - a leading cause of lung cancer.
        </p>
        <p>
            While we welcome new regulation by the EPA to monitor these wastes that were deregulated by the Ohio legislature in 2013, we feel that they give a false sense of security to the public.  The proposed methods of monitoring and detection cannot be sensitive to radiation levels anywhere close to the drinking water limits the EPA has set for Ohio materials.  We feel, therefore, that these new regulations do a very poor job of protecting our water and land resources, as well as solid waste facility workers and truck drivers.
        </p>
        <p>
            You can click on the icons below to read a draft of the proposed EPA rules, and then to read a comment letter from local geologist/consultant Dr. Julie Weatherington-Rice.
        </p>
        <p>
            
            <a href="http://docs.wixstatic.com/ugd/d264fd_d099fca3352c42168389bdc0174f070a.pdf" target="_blank"><i class="ico-light ico-bordered ico-lg ico-hover fa fa-file-pdf-o"></i> </a>
            <a href="http://www.epa.ohio.gov/dmwm/dmwmnonhazrules.aspx" target="_blank"><i class="ico-light ico-bordered ico-lg ico-hover fa fa-file-pdf-o"></i></a>
        </p>
        
    </div>
</section>








