@{
    ViewBag.Title = "Injection Wells";
}

<section class="page-header page-header-xlg parallax parallax-3"
         style="background-image:url('@Url.Content("~/Content/assets/images/SAM_0935.JPG")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>INJECTION WELLS IN CENTRAL OHIO'S WATERSHED</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Index", "Resources")">Resources</a></li>
            <li class="active">Injection Wells</li>
        </ol>
    </div>
    <div class="container">
        <p>More information about our next injection well tour.</p>
        <p>
            <a href="#" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-book"></i>CONTACT</a>
        </p>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <h2>Columbus, Ohio Area Watersheds and Class II Injection Wells</h2>
            <p>There are 13 active frack waste water injection wells in the Columbus Scioto River watershed.</p>
            <ul>
                <li>
                    <b>Frack waste water is radioactive:</b> radium 266 up to 3,000x EPA safe drinking water limit.
                </li>
                <li>
                    <b>Frack waste water contains carcinogens, neurotoxins, and hormone disrupters.</b>
                </li>
                <li>
                    <b>Frack waste water injection wells cause earthquakes:</b> -8 states including Ohio.
                </li>
                <li>
                    <b>Ohio alone does not regulate radioactive frack waste drill cuttings.</b>
                </li>
                <li>
                    <b>Ohio imports frack waste from PA and WV to dump in Ohio injection wells and landfills.</b>
                </li>
            </ul>
            <div class="col-xs-12 col-md-12">
                <img class="img-fluid" src="~/Content/assets/images/UpperScioto_Columbus/UpperScioto_Columbus-1.jpg">
            </div>
        </div>
    </div>
</section>
<section class="theme-color">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/k_rE-CXYnFA" class="img-fluid" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <p>According to Teresa Mills of Center for Health and Environmental Justice (CHEJ), in 2015 alone, Morrow County injection wells recieved 419,064 gallons of frack "brine" waste. </p>
                <img class="img-fluid" src="~/Content/assets/images/Mosher4.JPG" />
                <caption>Mosher Well, Class II injection well</caption>
            </div>
            <div class="col-xs-12 col-md-6">
                <p>
                    Our Injection Well Tours really let Ohio residents understand how inadequate our state regulatory system is.  The United States EPA long ago relegated its authority over the regulatory process of injecting oil/gas waste in the state of Ohio to the Ohio Department of Natural Resources (ODNR).  This aspect of oil/gas regulation through the ODNR has us very concerned that industry profit concerns are top priority, where the long-term safety of Franklin County drinking water's watershed suffers a lower priority.  This is a crucial reason that citizens in Columbus must create a means to protect our childrens' childrens' health, and our natural resources.
                </p>
                <p>
                    In the specific instance of the Mosher Unit well shown here, when this Class II injection well was permitted in 1981, it was stipulated that "upon discontinuance of injection operations, the owner shall apply for a permit to plug and abandon the well.  Such well shall be plugged and abandoned within sixty (60) days following discontinuance of operations."  As of August 12, 2017, there is no indication that this well has been plugged, 16 months after the 4/7/2016 date of the plug order.
                </p>
                <p>
                    This is why people like Teresa Mills are so adamant that the US EPA must take over Ohio's UIC (Underground Injection Control) program from Ohio Department of Natural Resources Oil & Gas Division.  The state agency has an extremely poor record of enforcing orders such as this plug order.  In the case of the <a href="https://appalachiaresist.wordpress.com/injection-wells/shut-down-the-ginsburg-well/" target="_blank">Ginsberg well in Athens County, OH,</a> an original order to plug was created in 1986.  Since then, it has not only continued to operate, but has been owned by four operators being cited multiple times for violations, and reports of continued soil contaminations around the well.  Veterenarian reports of fish in streams near the well had cancerous tumors, and horses drinking out of a creek near the well were getting sick.  Area resident Madeline Ffitch was <a href="https://www.athensnews.com/news/local/well-site-protester-claims-she-s-being-overcharged-made-an/article_4defba45-5a8c-5bd7-a29c-0f9cf29935fe.html" target="_blank">arrested in 2012,</a> for blocking the entrance of the well to bring attention to the situation, and more generally to the amount of toxic waste Ohio accepts from fracked wells.
                </p>
                <p>
                    <a href="http://docs.wixstatic.com/ugd/d264fd_767c37158f9944958f18b7a98a186337.pdf" class="btn btn-3d btn-lg btn-white"><i class="glyphicon glyphicon-book"></i>READ MORE</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <h2>
                On-going media coverage in Morrow County, Ohio, following our August 12th, 2017 injection well tour:
            </h2>
            <ul class="list-group sidepanel-theme-color">
                <li class="list-group-item">
                    August 21, 2017 - <i>Alberta Stokovic</i><a href="http://www.morrowcountysentinel.com/news/14421/columbus-citizens-group-tours-county-injection-wells" target="_blank">'Columbus Citizens' Group Tours County Injection Wells'</a>
                </li>
                <li class="list-group-item">
                    August 29, 2017 - <i>Jackie Stewart</i> state director of Energy In Depth<a href="http://www.morrowcountysentinel.com/opinion/op-ed/14678/story-about-wells-contained-wrong-information" target="_blank">'Story About Wells Contained Wrong Information'</a>
                </li>
                <li class="list-group-item">
                    September 7, 2017 - <i>Greg Pace and CCBOR group</i> <a href="https://drive.google.com/file/d/0B9axLBwqU03LcVUtYVhqY2lqUlk/view" target="_blank">'Story submitted to editor of Morrow County Sentinel on September 7, 2017 (not published)'</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <h2>More Resources</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="https://www.scientificamerican.com/article/are-fracking-wastewater-wells-poisoning-ground-beneath-our-feeth/" target="_blank">'Are Fracking Wastewater Wells Poisoning the Ground Beneath our Feet?'</a>Scientific American, 2012 <br />Excerpt: "Between 2008 and 2011, state regulators reported 150 instances of what the EPA calls "cases of alleged contamination," in which waste from injection wells purportedly reached aquifers. In 25 instances, the waste came from Class 2 wells. "
                </li>
                <li class="list-group-item">
                    <a href="https://www.fractracker.org/map/us/ohio/" target="_blank">Map of Ohio oil and gas activity</a> Fracktracker Alliance  
                </li>
                <li class="list-group-item">
                    <a href="http://docs.wixstatic.com/ugd/d264fd_7ff19462326142d9a8ad0a231d3b9b42.pdf" target="_blank">
                        Ohio-2017-SB165-Introduced.pdf
                    </a>
                    As an alternative to disposing of frack "brines" into Class II injection wells, Ohio has historically allowed individual counties to determine if oil/gas waste "brines" will be spread on rural roadways (dirt/gravel typically), for dust and ice control.  A new bill coming before the Ohio Senate Agriculture and Natural Resources committee, SB 165, is to commoditize oil/gas brine for road spreading.
                </li>
                <li class="list-group-item">
                    <a href="http://docs.wixstatic.com/ugd/d264fd_c9229be3afc8407db024c85a648249a4.pdf" target="_blank"> Comments on Ohio-2017-SB165 from local geologist, Dr. Julie Weatherington-Rice</a> Submitted as written testimony to the committee on September 20th, 2017.
                </li>
            </ul>
        </div>
    </div>
</section>