
@{
    ViewBag.Title = "AudioGallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header page-header-xlg parallax parallax-3"
         style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>AUDIO GALLERY</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Index","Media")">Media</a></li>
            <li class="active">Audio Gallery</li>
        </ol>
    </div>
</section>
<section class="alternate">
    <div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<img class="img-fluid mb-30" src="~/Content/assets/images/ohio-supreme-court.jpg" />

				<h3><a href="http://www.wcrsfm.org/" target="_blank">94.1 WGRN </a>Public Service Announcement. Monday, September 17, 2018</h3>
				<p>PSA about the Ohio Supreme Court's decision to keep the Community Bill of Rights off the ballot, and the history behind the controversy</p>
				<audio controls class="mb-30">
					<source src="~/Content/assets/audio/WGRNnews0917OSCrejectsCBOR6-1-short.mp3" />
					Your browser does not support the audio element.
				</audio>
			</div>
			<div class="col-12 col-md-6">
				<img class="img-fluid mb-30" src="~/Content/assets/images/StillFighting.jpg" />

				<h3><a href="http://www.wcrsfm.org/" target="_blank">94.1 WGRN </a>Public Service Announcement. Friday, September 14, 2018</h3>
				<p>PSA about the Board of Elections' decision to not allow Community Bill of Rights on the ballot</p>
				<audio controls class="mb-30">
					<source src="~/Content/assets/audio/WGRNnewsColsAntifrackInitiativeNixed4NovBallot180825 1.mp3" />
					Your browser does not support the audio element.
				</audio>
			</div>
			<div class="col-12 col-md-6">
				<img class="img-fluid mb-30" src="~/Content/assets/images/BOESupport.jpg" />
				<h3><a href="http://wcrsfm.org/content/conscious-voices-statues-and-statutes-columbus-community-bill-rights-denied" target="_blank">94.1 WGRN Conscious Voices:</a> Columbus Community Bill of Rights Denied. Friday, August 24, 2018</h3>
				<ul>
					<li>
						4:52 - Reporting starts on CCBOR's issue
					</li>
					<li>
						5:52 - BOE member Brad Sinnott speaks about our issue and a decision to reject is made
					</li>
					<li>
						13:08 - Terry Lodge, attorney for CCBOR, gets to speak
					</li>
					<li>
						18:40 - Ben Wallace, attorney who filed the challenge, speaks
					</li>
					<li>
						20:20 - Lodge speaks again for 30 seconds
					</li>
					<li>
						20:50 - The protest begins
					</li>
					<li>
						24:56 - Interview with Tish O'Dell from CELDF and Terry Lodge
					</li>
				</ul>
				<audio controls class="mb-30">
					<source src="~/Content/assets/audio/CV Statues and Statutes Community Bill Of Rights denied.mp3" />
					Your browser does not support the audio element.
				</audio>
			</div>
			<div class="col-12 col-md-6">
				<img class="img-fluid mb-30" src="~/Content/assets/images/NotAnotherFlint.jpg" />

				<h3><a href="http://www.wcrsfm.org/" target="_blank">94.1 WGRN </a>Public Service Announcement. Friday, August 24, 2018</h3>
				<p>PSA about the review by the Franklin County Board of Elections of a protest of CCBOR's proposed November ordinance</p>
				<audio controls class="mb-30">
					<source src="~/Content/assets/audio/WGRNnewsexp0824CCBOR.BOE0822update.mp3" />
					Your browser does not support the audio element.
				</audio>
			</div>
			<div class="col-12 col-md-6">
				<img class="img-fluid mb-30" src="~/Content/assets/images/CCBOR-04.jpg" />

				<h3><a href="http://www.wcrsfm.org/" target="_blank">94.1 WGRN</a> program – part 1.  The Other Side of the News with Bob Fitrakis. Friday, May 11, 2018</h3>
				<p>Bob interviews Sandy Bolzenius, Bill Lyons and Charlotte Owens about the Columbus Community Bill of Rights that will protect us from fracking pollution </p>
				<audio controls class="mb-30">
					<source src="~/Content/assets/audio/TOSOTN5918-CCBOR.mp3" />
					Your browser does not support the audio element.
				</audio>
			</div>
			<div class="col-12 col-md-6">
				<img class="img-fluid mb-30" src="~/Content/assets/images/blog-Bill-Lyons.jpg" />
				<h3><a href="http://www.wcrsfm.org/" target="_blank">94.1 WGRN</a> program – part 2.  The Other Side of the News with Bob Fitrakis. Friday, May 11, 2018</h3>
				<p>Bob interviews Carolyn Harding and Bill Lyons about the Columbus Community Bill of Rights petitioning campaign for citizen's rights to clean air, soil and water. </p>
				<audio controls class="mb-30">
					<source src="~/Content/assets/audio/TOSOT051918-CCBOR.mp3" />
					Your browser does not support the audio element.
				</audio>
			</div>
		</div>
    </div>
</section>