
@{
    ViewBag.Title = "Video Gallery";
}

<section class="page-header page-header-xlg parallax parallax-3"
         style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>VIDEO GALLERY</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Index","Media")">Media</a></li>
            <li class="active">Video Gallery</li>
        </ol>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/_HpLOCBFl9E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h3>
                            Protest of Jon Husted 9/2/15
                            Columbus Ohio
                        </h3>
                        <p>
                            In front of The Athletic Club
                            where Husted was speaking
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="alert-info">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/sd_-6onmDCA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <p>
                        The US Can Transition to 100% Clean,
                        Renewable Energy - Starting Today
                    </p>
                </div>
                <div class="col-12 col-sm-6">
                    <h3>
                        Skype presentation and interview with Mark Z. Jacobson, PhD
                    </h3>
                    <p>April 27, 2015</p>
                    <p>
                        Mark Z. Jacobson, Professor of Civil and Environmental Engineering; Director, Atmosphere/Energy Program; Senior Fellow, Woods Institute for the Environment; Senior Fellow, Precourt Institute for Energy; and cofounder of <a href="http://thesolutionsproject.org/" target="_blank">The Solutions Project</a>, discusses how it is possible to change the energy infrastructure of the 50 United States from fossil fuels to wind, water and sunlight. This presentation covers technical and economic plans including resource availability, job creation, energy costs, environmental and climate savings, and methods of ensuring reliability of the grid.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" width="560" height="315" src="https://player.vimeo.com/video/124830187" frameborder="0" allow="autoplay; encrypted-media" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <p><a href="https://vimeo.com/124830187">Stop the Carbon-nuke Bailouts Mini-conference, Columbus State Community College, April 12th 2015 [Full Video]</a> from <a href="https://vimeo.com/willmd">Will Delphia</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h3>
                            STOP THE CARBON-NUKE BAILOUTS Mini-Conference
                            Win a Carbon/Nuke Free Ohio <br />
                            Move to Renewables and Efficiency <br />
                        </h3>
                        <ul>
                            <li>Kevin Kamps, Radioactive Waste Watchdog with Beyond Nuclear in Takoma Park, MD.</li>
                            <li>Carolyn Harding, Organizer with Radioactive Waste Alert and the Columbus Community Bill of Rights.</li>
                            <li>Ned Ford, Veteran Ohio energy activist and consultant</li>
                            <li>Neil Waggoner, Organizing Representative with the Sierra Club Coal Campaign.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="alert-info">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/vxSPoCBJZDw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <h3>
                        Tish O’Dell, <a href="www.celdf.org" target="_blank">Community Environmental Legal Defense Fund</a>
                    </h3>
                    <p>February 23, 2015</p>
                    <p>
                        Ohio organizer; Co-founder of MADION (Mothers Against Drilling in Our Neighborhoods), 2012 successfully passed Bill of Rights in the City of Broadview Heights, OH
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ASapAPtB0ww" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <h3>
                        Julie Weatherington-Rice, PhD, Geologist, hydrogeologist & soil scientist
                    </h3>
                    <p>
                        January 26,  2015
                    </p>
                    <p>
                        ALEC and the Oil & Gas Industry v. Source Water Protection & Home Rule in Ohio: <br />
                        How we got where we are, and what we can do about it.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

