@{
    ViewBag.Title = "Donate To The Columbus Community Bill of Rights";
}
<section class="page-header page-header-xlg parallax parallax-3"
         style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>Donate</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Index","HelpOut")">Help Out</a></li>
            <li class="active">Donate</li>
        </ol>
    </div>
</section>
<section>
    <div class="container">
        <h2>Donating To Our Effort</h2>
        <div>
            <p>
                How To Donate (we offer two methods)
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Method 1</h3>
                <p>Donate via PayPal</p>
                @Html.Partial("~/Views/HelpOut/Shared/_PayPalDonate.cshtml")
            </div>
            <div class="col-md-6">
                <h3>Method 2</h3>
                <p>(alternate method)</p>
                <p>
                    Donate via downloading donation form and mailing donated check with form to our P.O. Box:
                </p>
                <p>
                    Download the donation form by clicking on the "W" icon below, print it and fill it out.
                </p>
                <p>
					<a href="https://docs.google.com/document/d/15z9p1y290hcY56LSxuJ0rcl9Nha_wI2SnAf3UbeQzm4/edit?usp=sharing" target="_blank">
						<img src="~/Content/assets/images/CCBOR-Donation-Form.png" />
					</a>
                </p>
                <p>
                    Make your check out to "CCBOR PAC" or
                    "Columbus Community Bill of Rights PAC".
                </p>
                <p>
                    Mail the check and donation form to:
                    Columbus Community Bill of Rights
                    P.O. Box 14741
                    Columbus, OH  43214
                </p>
            </div>
        </div>
        <div class="callout alert alert-border alert-info b-0 mt-60 mb-60">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/assets/images/CCBOR-T-Shirt-Donate.jpg" 
                         class="img-responsive" />
                </div>
                <div class="col-md-8">
                    <h3>Don't Forget your T-Shirt Order!!</h3>
                    <div class="mt-20">
                        <p>
                            If you would like to recieve a hemp CCBOR T-shirt with your donation of $35 or more, please <a href="mailto:info@columbusbillofrights.org">contact us.</a>
                        </p>
                    </div>
                    <div class="mt-20">
                        <p>
                            Thank you for donating to help us at Columbus Community Bill of Rights.  We are an all-volunteer, 
                            100% grass roots effort.  We do have a PAC (political action committee) to help enable us to recieve 
                            donations.  They are not tax-deductible.
                        </p>
                        <br />
                        <p>
                            If you have any questions at all, contact us at <a href="mailto:info@columbusbillofrights.org">info@columbusbillofrights.org</a>, and we will contact 
                            you with any help that you may need.
                        </p>
                        <br />
                        <p>
                            <strong>We are a Participatory Representative Democracy - if we don't use it, we lose it!</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>