@{
    ViewBag.Title = "Help Out The Columbus Community Bill of Rights";
}
<section id="helpOut">
    <div class="container text-center">
        <h1 class="m-0 fs-50 fw-300 wow fadeInUp" data-wow-delay="0.4s">Help Out</h1>
        <p class="lead font-lato fs-30 wow fadeInUp" data-wow-delay="0.7s">
            We need your inspiration to help us with our 2018 ballot initiative!<br />
            Join us as we train volunteers to circulate our petition.
        </p>
        <div class="mt-30">
            <a href="@Url.Action("Donate","HelpOut")" class="btn btn-3d btn-lg btn-green"><i class="glyphicon glyphicon-piggy-bank"></i>DONATE NOW</a>
            <span class="fs-17 hidden-xs-down">&nbsp; AND &nbsp;</span>
            <a href="@Url.Action("Index","HelpOut")" class="btn btn-3d btn-lg btn-primary"><i class="glyphicon glyphicon-user"></i>HELP OUT</a>
        </div>
    </div>
</section>
<div class="container mt-20">
    <h2>Help Out The Columbus Community Bill of Rights</h2>
    <div class="callout alert alert-border alert-info b-0 mt-60 mb-60">
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/assets/images/ccbor-help-out-01.jpg" />
            </div>
            <div class="col-md-8">
                <div class="mt-10">
                    <p>
                        <strong>
                            JOIN US FOR OUR NEXT MEETING <br />
                            on Monday, May 14th, 2018 at 7:00pm.
                        </strong>
                    </p>
                </div>
                <div class="mt-10">
                    <p>
                        <strong>
                            We have organizing meetings most every week, on Monday evenings at 7:00pm.
                        </strong>
                    </p>
                </div>
                <div class="mt-10">
                    <p>
                        <strong>
                            If interested in attending or for more information, please contact <br />
                            <a href="mailto:ColumbusBillofRights@gmail.com">ColumbusBillofRights@gmail.com</a>
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>