@{
    ViewBag.Title = "Volunteer at The Columbus Community Bill of Rights";
}
<section class="page-header page-header-xlg parallax parallax-3"
         style="background-image:url('@Url.Content("~/Content/assets/images/15-min.jpg")')">
    <div class="overlay dark-4"></div>
    <div class="container">
        <h1>Volunteer</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Index","HelpOut")">Help Out</a></li>
            <li class="active">Volunteer</li>
        </ol>
    </div>
</section>
<section>
    <div class="container">
        <h2>Volunteering & Outreach Resources</h2>
        
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/assets/images/Volunteer-001.jpg" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/assets/images/Volunteer-002.png" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/assets/images/Volunteer-003.jpg" />
            </div>
        </div>
        
        <div class="mt-20">
            <div class="alert alert-bordered mb-30">
                <div class="row">
                    <div class="col-md-8">
                        <p>
                            Click HERE to visit our CCBOR Core Volunteer Events Facebook Page
                            for great events to circulate our petition
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/assets/images/Volunteer-004.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>